@media screen and (max-width:1023px){
    body{overflow-y: scroll;}
    .blue-wrapper{height: 170px;}
    /*pbheader,pbfooter{display: none;}*/
.call-me-fixed{display:none;}
    .main-filter-contain,.layout-quote li{float: left; width: 100%}
    .main-filter-contain .filter{padding: 10px; min-height:50px}
    .filter-change.change-fund md-input-container label{width: 100%}
    .hist-data md-radio-button{padding:8px 5px 9px 10px;}

    .title h2{font-size: 20px;}
    .data-fill{margin-top: 10px;}
    .user-info{margin-bottom: 20px}
    .data-rightrow{margin-bottom: 10px; min-height: 50px;}

    .layout-quote{width: 94%}
    .quote-row ul{padding: 10px 20px; box-sizing:border-box; margin-top: 20px; }
    .quote-row li{width: 100%!important; padding: 2px 5px;border-right: none; /*border-bottom: 1px #cdcdcd dashed;*/}
    /*************************Compare Page****************************************/

    .compare-amount.layout{float: left; width: 100%; padding:20px 0px;}
    #positiontool.layout > div{float: left; width: 100%; border: none;}
    .show-mobile{display: block;}
    .price-boxleft{display: none;}
    .bottom-fix.bot-f{position: static;}
    .price-plans .lightgreen-button{width: 180px;}
    .price-plans .plan-heading{padding:15px 5px; min-height: 20px}
    .price-plans:before{display: none;}
    .pricebox-table {float: left;; width: 100%; padding: 0 20px}
    .price-boxleft,.price-boxright,.price-plans{float: left; width: 100%; margin: 0px;}
    .price-plans{margin-top: 20px;}
    .price-plans *{color: rgba(44, 62, 80, 1);}
    .ys-no-icon:after{position: static;}
    .layout{width: 600px;}
	.select-style { width: 100%;border-radius: 3px;overflow: hidden;position:relative;background:#fff url("../images/mobile-sprite.png") right -237px / 20px 400px no-repeat;float:left;height:41px;border: 1px solid #cdcdcd;}
	.select-style.active-bg{border-color:#27ae60;}
.select-style select {padding:2px 8px 0  43px;width: 96%;border: none;box-shadow: none;height:41px;font-size:12px;background: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;color: #22364a;cursor:pointer;color:#2c3e50;border-radius:5px;}
/*.active-bg .select-style select{border:1px solid #27ae60;}*/
pbheader,#navsidebaricon{z-index:0;}
#mobile-device .data-fill{border:none;}
.mobile-device-bg .blue-wrapper{height:98px !important;}
    #mobile-device a.md-button.md-primary.md-raised, a.md-button.md-primary.md-fab, .md-button.md-primary.md-raised, .md-button.md-primary.md-fab{background:#e67e22 ;}
	.lightgreen-button:hover{background:#e67e22 !important;}
#mobile-device .privacy{display: block;position: initial;font-size: 10px;text-align:center;}
#mobile-device .privacy input{position:relative;top:2px;}

    /*************************Compare Page****************************************/

}

@media screen and (max-width:768px){
	.header{box-shadow:none;}
    .featurebox-modal{display: none;}
    .edit-btn em{background: url(../images/edit-icon.png) no-repeat 0 0; text-indent: 450px; overflow: hidden; height: 20px; width: 17px; border: none; }
    .save-btn{transition: all 0.3s ease;}
    .save-btn em{ width: 11px;height: 9px;background: url(../images/cross-check.png) no-repeat -15px 0px; border: none; text-indent: -4450px; margin-right: 10px; overflow: hidden; position: relative; top: 3px;}
    .save-btn a{font-size: 16px; margin-right: 3px;}
    .quote-section{float: left; padding-bottom: 20px; width: 100%;}
    .mob-feature{font-size: 12px; text-transform: uppercase; color: #fff; text-align: center; cursor: pointer;}
    .filter-change.filter-outer .filter-return .inv-goal{background: none; border: none; display: inline-block; float: none;}
    .filter-change .hist-data label{display: block;}
    .filter-change md-input-container md-select{width: 92px; display: none;}
    .hist-data md-radio-button{font-size: 10px;}
    .filter-change.change-fund md-select .md-select-label{min-width:100%;}
    .filter-change md-input-container label,.filter-change label{font-size: 11px; color: #fff!important; margin: 0px; margin-bottom: 3px!important; color: #fff; text-transform: uppercase;}
    .mob-select{text-overflow:ellipsis; width: 100%; background: none; border: none; color: #fff; display: block; font-size: 12px; padding-left: 10px; cursor: pointer;z-index: 1000;}
    .mob-select option{color: #000; background: #fff;}
    .filter-return .inv-goal:before{background: red; width: 15px; height: 15px; content: ""; position:absolute; left: 1px; top: 8px; background: url(../images/sorting-icon.png) no-repeat 0 -19px;}
    .mob-select option{padding: 3px;}
    .inv-goal span{font-size:10px; color: #fff}
    .filter-return .inv-goal md-select{width: 100%;}
    .filter-return .inv-goal span{color: #000}
    .filter-change.filter-outer .filter-return label{line-height: normal;}
    .filter-change.filter-outer .filter-return .inv-goal{margin-top: 0px;}
    .filter-change md-input-container label{transform:translate3d(0px, 3px, 0px) scale(1); text-align: center; width: 100%}
    .quote-row li:nth-child(2) h3{color:#fdac4c}
    .user-input-inner.user-inp-new{margin-top: 0px}
    .pln-type .filter-change{margin-top: 10px; width: auto;}
    .hist-data md-radio-button.md-checked:before{left: 5px; background-position: 0px -100px;}

    /******Remove **************/
    .modal-link {display: none;}
    /******Remove **************/
    .quote-filter{background: #2980b9; display: table; width: 100%; margin: 0px; }
    .quote-filter .filter-change{display: table-cell; float: none; padding: 5px 5px; border-right: 1px solid #196597;}
    .cost-mobile{display: block;}
    .filter .user-input-inner{padding-bottom: 0px;}
    .edit-btn, .save-btn{top: 0px;}
    .filter-mobile{width:100%;float:left;background:#2980b9;margin-bottom:0px;}
    .filter-mobile ul{ display:table;width:100%;margin:0;padding:0;}
    .filter-mobile ul li{ display:table-cell;vertical-align:middle;text-transform:uppercase;font-size:12px;color:#fff;text-align:center;width:33.3%;padding:12px;font-weight:bold;border-right:1px solid #196597;position:relative;}
    .filter-mobile ul li select{ height: 100%;left: 0; opacity: 0; position: absolute;top: 0;width: 100%;}
    .filter-mobile ul li select{color: #000; text-transform: uppercase;}
    .sb-1{ background:url(../images/sorting-icon.png) no-repeat left -15px;width:20px;height:20px;padding:0 0 0 24px;}
    .ep-1{ background:url(../images/sorting-icon.png) no-repeat left top;width:20px;height:20px;padding:0 0 0 24px;}

    .pln-logo{margin-top: 5px;}
    .quote-row li p{margin-top: 0px; /*font-size: 9px;*/}
    .quote-row li{margin-bottom: 10px;}
    .mobile-show{display: block; position: relative;}
    .mobile-show:before{border-top: 1px solid #cccccc; content: ""; height: 3px; left: 0; position: absolute; top: 50%; width: 100%;}
    .mobile-show span{background: #fff; padding: 0 5px; position: relative; font-size: 11px; font-weight: 700; text-transform: uppercase;}
    .filter-head{display: none}

    .mobile-hide{display: none!important;}
    .quote-row li.mobile-hide{display: none;}
    .quote-row li.growth-rate{display: table; width: 100%}
    .two-colum{display: table-cell; width: 50%; text-align: center; padding: 0 5px;}
    .two-colum:first-child{width: 54%;}
    /*.quote-row li.growth-rate{background: #259454; border-radius: 50px; font-size: 14px; height: 65px; position: absolute; right: 0; text-align: center; top: -30px;
        width: 65px !important;}
    */
    .mob-show{display: block;}
    .quote-row li.growth-rate h2.g-rate{font-size: 11px;  margin-bottom: 0px; margin-top: 10px;}
    .quote-row li.growth-rate h3{font-size: 16px; }
    .quote-row li h2,.quote-row li h3{margin-top: 5px;}
    .quote-row li.pl-features{display: none;}
    .top-button{margin: 0px; position: fixed; bottom: 0px; left: 0px; z-index: 100; /*background: #fff; */width: 100%;}
    .top-button ul{margin-bottom: 0px; display: table; width: 100%; }
    .top-button li{width: 33.333%; margin: 0px; background: rgba(44, 62, 80, 0.95);display: table-cell; box-sizing:border-box; border-right:1px solid #242E38;; text-align: center;box-shadow: inset 1px 0 0 #455A6D;}
    /*.top-button li.email{width: 43%}
    .top-button li.call-back{width: 37%}*/
    .top-button li a{ height: 35px; padding:2px 0px; width: auto; padding-left: 35px; line-height: 34px; font-size: 18px; background:url("../images/footer-icon.png") no-repeat scroll 5px 12px / 24px auto;
        color: #fff!important; border-radius:0px!important; border: none!important;}
    .top-button li a:hover{text-shadow:0 0 5px #2980b9;}

    .top-button li.chat{position: relative; display:table-cell;}    
    .top-button li.email a{padding-left: 26px;}

    .top-button li.chat:before{ content: "";
        height: auto;
        left: 0;
        position: absolute;
        top: -10px;
        width: 100%;
        z-index: 1000;}
     .top-button li.chat a{width: auto;}
    .top-button li.call-back a{padding:2px 20px 2px 30px; white-space:nowrap}
    .top-button li.email a:hover{background:url("../images/footer-icon.png") no-repeat scroll 5px 12px / 24px auto;}
    .top-button li.call-back a,.toptton li.call-back a:hover{background:  url("../images/footer-icon.png") no-repeat scroll 5px -67px / 24px auto}
    .top-button li.chat a,.top-button li.chat a:hover{background:url("../images/footer-icon.png") no-repeat scroll 5px -26px / 24px auto}

    .top-button li a:before{display: none!important;}



    .zopim{display: none!important;}
    .filter.murge-col{display: none;}

    .top-header{display: table; width: 100%}
    .top-header h1,.top-header .header-right{display: table-cell; width: 50%; box-sizing:border-box;}
    .top-header h1 img{height: 25px;}
    .filter.filter-payout,.filter.payout-opt{display: none;}
    .main-filter-contain{display: table;}
    .main-filter-contain form{background: #2d3e50 }
    .filter .contain h3{white-space: nowrap;}
    .filter .contain h3 span{margin-right: 3px;}
    .main-filter-contain .filter.mob-cell{display: table-cell; float: none;  padding: 10px 5px 5px 5px;transition: all 0.5s ease-in-out 0s;}
    .main-filter-contain .filter.mob-cell.width-increase{float: left; width: 100%; border-right: 0px;}
    .main-filter-contain .filter.mob-cell.hide-pay-cell{transition: all 0.5s ease-in-out 0s; transform:scale(0); position: absolute; display: none;}
    .hide-mob{float: left;}
    .user-input span, .user-inputbox input{font-size: 18px;}
    .input-col1 .user-inputbox input{width: 120px;}
    .top-header h1{padding: 10px 0 10px 0px;}
    .top-header .header-right h3{font-size: 16px; margin-top: 0px;}
    .user-inp-new md-input-container{padding-top: 0px;}
    .user-inp-new md-input-container > md-select{margin-top: 0px;}
    .change-to{margin: 5px 0px; white-space: nowrap;min-width:132px;}
    .contain p{margin-top: 0px;}

    /*************Plan Details Box****************/
    #viewModalId .modal-dialog{min-width:90%;}
    .quote-row li{float: left; margin:0px; padding: 0px;}
    .quote-row li.close-colum{position: absolute;  top: -5px;}
    .plan-feature{padding: 10px;}
    .pln-feature-left{padding: 0px; float: left; width: 100%; }
    .pln-feature-right{float: left; width: 100%;padding-left: 0px;}
    .chart svg{width: 100%}
    .pln-feature-right h3, .feature-box h3{font-size: 16px;}
	#paytm-page .step li a{padding:2px 6px 6px 6px;font-size:12px}

}



@media screen and (max-width:740px){
    .mobile-show.g-rate{display: none!important}
    .header{box-shadow:none;}
    pbfooter{display:none;}
    .data-rightrow span{font-size:20px; line-height:22px;}
    .page{min-height:auto; padding-bottom:10px;}
    .data-rightrow.mrgbot10{margin-bottom:0px;}
    .data-rightrow span.message{font-size:13px; line-height:13px;}
    .data-rightrow{margin-bottom:0px; min-height:0px;}
    .disclaimer p{font-size:8px;}
    .plan-outer ul{box-shadow:none;margin:0px;}
    .md-select-label{min-height:20px;}
    .data-fill{margin-top:0px;}
    .user-info .user-input input{min-height:30px; line-height:30px;}
    .user-info{margin-bottom:0px;margin-top:0px;}
    .plan-outer li{font-size:11px;}
    .plan-outer li:after{font-size:10px; background:none;}
    .title h2{font-size:16px;}
    .title p{margin-bottom:10px;font-size:10.5px; color: #fff;}
    .layout{width: 97%; margin-top:10px}
    .layout-customer{padding: 0px;}
    .data-fill .data-left,.data-fill .data-right{width: 100%; float: left; display: block; padding:10px 10px 5px 10px;}
    .desire-monthly > label{margin-bottom:0px;}
    .user-info li{width: 100%!important; padding:0px; font-size: 12px;}
    .plan-outer{padding:0px; margin-top:30px;}
    .disclaimer{position: static;}
    .data-fill .data-right{border-top: 1px #eaf3fa solid; background: #fff}

    /************* CUstomer page Start*********************************/
    .box-layout{width: 100%}
    .full-name .md-inp  ut-container{width: 100%}
    .number-field > md-input-container{display:inline-block; width: 100%; }
    .number-field .country-code{padding: 0px; padding-left: 10px;}
    .auto-compelte{margin: 0px;}
    .country-code md-select{width: 100%}
    .cus-row md-select .md-select-label{min-width:100%;}
    /************* CUstumer page Start*********************************/
    .data-fill .data-left, .data-fill .data-right{padding:8px 8px 35px 8px;}
	#paytm-page .paytm-info li label{text-align:center;}
	.user-info li{display:block;margin-bottom: 16px;}
	#paytm-page .title-case{display:table;margin:0 auto;float:inherit;}
	#paytm-page .title-case .gender-set md-radio-group{padding-top:0;}
	#paytm-page .user-info li:first-child{padding:0;}
	#paytm-page .paytm-info li input[type='number'], #paytm-page .paytm-info li md-input-container input, #paytm-page .paytm-info li input[type='text'], #paytm-page .paytm-info li input{ text-align:center;}
	#paytm-page .user-info li span.paytm-dob{display:table;margin:0 auto;}
	#paytm-page .paytm-info{ margin-bottom:0;}
	#paytm-page .progressbar .lightgreen-button {margin-right:auto;margin-top:20px;}
	#paytm-page .user-info .md-select-label span{ text-align:center;}
	#paytm-page .step{ margin-top:0;}
	#paytm-page .error-messaqe{text-align:center;}
	#paytm-page .user-info li .number-field input{width:auto;}
	#paytm-page .number-field {display: table;margin: 0 auto;}
}


/****************************** PreQuote Mobile Device Changes************************************/
@media screen and (max-width:2400px){
    /************Change View On Mobile**********/
    #mobile-device .user-info li{float:left; width: 100%; margin-bottom: 7px;padding-right:0px;}
    #mobile-device md-input-container .md-input,#mobile-device .user-info .user-input input,#mobile-device .yfi input, #mobile-device .cus-row input,#mobile-device .comprare-input{line-height: 40px; border-radius: 5px; font-size: 12px; padding: 0 5px 0 46px;  font-weight: normal; border:1px #cdcdcd solid; width:100%; float: left;color:#000}
    /*#mobile-device .comprare-input{ position: absolute; top: 0px; left: 0px}*/
    #mobile-device .comprare-input-amt{ position: absolute; top: 9px; right: 20px;}
    #mobile-device .error-messaqe,#mobile-device .error-messaqe em,#mobile-device .message-outside{position: static;top:0; font-size: 10px; color:#ff0000; font-style: normal; float: right; margin-right: 0%; width: 100%; margin-top: 0px}
    #mobile-device .error-messaqe em{width: 100%; padding: 0px;}

    #mobile-device .pay-term md-select{width: 100%;border:1px solid #ccc; color: rgba(0,0,0,0.58)}
    #mobile-device .pay-term md-select md-select-label span{width:auto; font-size: 12px;}
    #mobile-device .user-info li md-select{height:42px; padding: 0 5px 0 46px;border-radius:5px; width: 100%; border: 1px #cdcdcd solid!important}
    #mobile-device .pay-term .md-select-label .md-select-icon:after{top:-1px}
    #mobile-device .quote-filter .filter-change{display: none!important;}
    #mobile-device .quote-filter .filter-change.change-fund{display: table-cell!important; text-align: center;}
    #mobile-device  .user-input{width: 100%;}
    #mobile-device  .yfi .error-messaqe{padding-left: 0px;}
    #mobile-device [layout-padding], #mobile-device [layout-padding]>[flex-gt-sm], #mobile-device [layout-padding]>[flex-lt-lg], #mobile-device [layout-padding]>[flex-md],  #mobile-device [layout-padding]>[flex]{padding:0px;}
    #mobile-device .user-info li md-content{overflow:hidden}
    #mobile-device .plan-outer li{padding: 14px 0 10px}
    #mobile-device .plan-outer li{background:#026AAB; color: #fff; border-right: 0px;border-bottom:none; border-radius: 5px 5px 0 0px; margin: 0 2% 0 0; float: left; width: 32%; padding-left: 35px; }    
    #mobile-device .plan-outer li:before{top:-37px;}
    #mobile-device .plan-outer li.retirment-icon span:before{background:none;}
    #mobile-device .plan-outer li:before{background:url("../images/plan-sprite-mobile.png") no-repeat 0px 0/119px 71px;left: 50%; margin-left: -50px; top: 4px; height: 33px; width: 40px;transition:all 0.3s ease-in-out;}
    #mobile-device .plan-outer li{padding: 0px;}
    #mobile-device .plan-outer li:before{display: none;}    
    #mobile-device .plan-outer li span{background:url("../images/plan-sprite-mobile-new.png") no-repeat 0px 5px/30px 222px; padding: 14px 0 10px 35px; display: inline-block; }
    #mobile-device .plan-outer li.retirment-icon span{background-position: 0 6px; margin-left: -12px;}
    #mobile-device .plan-outer li.growth-icon span{background-position: 0 -78px}
    #mobile-device .plan-outer li.child-icon span{background-position: 0 -154px;margin-left: -23px;}

    #mobile-device .plan-outer li.retirment-icon:hover span,#mobile-device .plan-outer li.selected-plan.retirment-icon span{background-position: 0 -35px}
    #mobile-device .plan-outer li.growth-icon:hover span,#mobile-device .plan-outer li.selected-plan.growth-icon span{background-position: 0 -115px}
    #mobile-device .plan-outer li.child-icon:hover span,#mobile-device .plan-outer li.selected-plan.child-icon span{background-position: 0 -189px}


    #mobile-device .plan-outer ul{box-shadow: none; margin: 0px; background: #005387; }       
    #mobile-device .plan-outer li.selected-plan,#mobile-device .plan-outer li:hover{background: #fff; color: #000; border-color: #fff;}
    #mobile-device .plan-outer li.child-icon{margin-right:0px;}
    #mobile-device .plan-outer li.retirment-icon span:before,#mobile-device .plan-outer li.growth-icon span:before,#mobile-device .plan-outer li.child-icon span:before{display: none;}
    #mobile-device .plan-outer li.retirment-icon.selected-plan:before,#mobile-device .plan-outer li.retirment-icon:hover:before{background-position:0px -42px}
    #mobile-device .plan-outer li.growth-icon:before{background-position:-38px 0;margin-left: -57px}
    #mobile-device .plan-outer li.growth-icon.selected-plan:before,#mobile-device .plan-outer li.growth-icon:hover:before{background-position:-38px -42px}
    #mobile-device .plan-outer li.child-icon:before{background-position:-80px 5px; }
    #mobile-device .plan-outer li.selected-plan.child-icon:before,#mobile-device .plan-outer li.child-icon:hover:before{background-position:-82px -42px}
    #mobile-device .plan-outer{padding: 0px; margin-top:0px;}   
    /*#mobile-device .user-info li span{position: relative;}*/
    #mobile-device .user-info li span.number-field-opt{position: absolute; top: 0px; left: 40px; margin: 0px;}
    #set-mobile li .mob-icon.country-code .number-field-opt input{margin: 0px; border-radius:0px; padding: 0px; padding-left: 15px; border-right: none!important;}
    #set-mobile li .mob-icon .number-field-opt div.bind-country-code{width: 60px;}
    #set-mobile li  md-input-container.bind-country-code:before{margin-top: 12px;}
    #mobile-device .colum-two.mob-icon{float: left; width: 100%;}
    #mobile-device .colum-two.mob-icon:first-child{padding-right: 10px}
    #mobile-device .colum-two.mob-icon.city-icon{padding-right: 0px;}
    #mobile-device .colum-two .country-select{width: 100%; float: left;}
    #mobile-device .md-whiteframe-z1{box-shadow:none;}
    #mobile-device .user-input.pension-month .user-inputbox{float: left;; width: 100%}
    #mobile-device .city-code md-autocomplete button md-icon{width: 15px; height: 15px; top: 30%; left: 60%;display:none;}
/*    #mobile-device .new-error{display: table-cell; float: none; padding: 0px; white-space: nowrap; width: 30%}*/
    #mobile-device .new-error:first-child{width: 100px!important; background: red!important}
    #mobile-device li.half-mobile{width: 50%!important}
    #mobile-device li.half-mobile .auto-compelte md-autocomplete{min-width:110px; height: 42px;}
    #mobile-device .user-info md-input-container{padding: 0px;display: inline-block; width: 100%;}
    .landing-iframe .blue-wrapper{display: none;}
    #mobile-device .city-code md-autocomplete button{background:#fff; top:6px; right:1px; height:12px; width:12px}

    #mobile-device input[type="text"]{-webkit-appearance: none;box-shadow: none !important;}
    #mobile-device .data-fill{border-radius: 0px;}

    #mobile-device .user-info{display: block;}
    #mobile-device .desire-monthly{margin: 0px;}
    #mobile-device .title h2{margin-bottom: 4px;}
    #mobile-device .progressbar{position:relative;bottom:0!important;left:0; min-height:10px}
    #mobile-device .progressbar button{position:relative;bottom:0!important;left:0; width:100%;border-radius:5px;height:38px;margin-top:0px;}

    #mobile-device .lightgreen-button:after{top:15px;}
    #mobile-device .bind-country-code input{color:#000!important;}
    #mobile-device .plan-outer li:after{display: none;}
    /************** Set New Mobile CSS*****************/
    #set-mobile{float:left; width: 100%;}
    #set-mobile .user-input{position: relative;}
    #set-mobile li .mob-icon{width: 100%; position: relative; display: inline-block; vertical-align: top;}
    #set-mobile .user-input.pension-month.mob-icon{height: 42px; overflow: hidden;}
    #set-mobile li .mob-icon:before{background:#bdc3c7;height:41px;width:40px;border-top-left-radius:5px;border-bottom-left-radius:5px;position:absolute;top:0;left:0; content: ''; transition:all 0.3s ease-in-out; z-index: 1}

    /*******Mobile Icon Images*******************************/
    #set-mobile li .mob-icon:after{background: url(../images/mobile-sprite-new.png) no-repeat left top;background-size:30px 324px; width:35px;height:34px;position: absolute;top: 4px;left: 4px; content: ''; z-index: 2}
    #set-mobile li .mob-icon.r-age:after{background-position:0 -35px;}
    #set-mobile li .mob-icon.pension-month:after{background-position:0 -64px;}
    #set-mobile li .mob-icon.full-name:after{background-position:0 -131px;}
    #set-mobile li .mob-icon.email-id:after{background-position:0 -161px;}
    #set-mobile li .mob-icon.mobile-num:after{background-position:0 -195px;}
    #set-mobile li .mob-icon.pay-icon:after{background-position:0px -227px;}
    #set-mobile li .mob-icon.r-age.child-icon:after{background-position:0px -97px;}
    #set-mobile li .mob-icon.country-icon:after{background-position:0px -259px;}
    #set-mobile li .mob-icon.city-icon:after{background-position:0px -292px;}

    #set-mobile li .mob-icon.active-bg:before{ background:#27ae60;}
    #set-mobile li .mob-icon.active-bg input,#mobile-device .user-info li span.active-bg select{border-color:#27ae60!important;}

    #set-mobile li .mob-icon input{line-height: 40px;height:42px;border-radius: 5px;font-size: 12px; padding: 0 5px 0 46px;  font-weight: normal;
        border: 1px #cdcdcd solid!important; width: 100%; color: #2c3e50; opacity:1; }    
    #set-mobile li .city-code input{background: #fff;}   
    #set-mobile li .mob-icon.country-code input,.some-error-mobile{padding: 0 5px 0 110px;}

    /*************** Set Css for City Option Start*********************/
    #mobile-device .autosuggest-overlay {position: absolute; overflow: auto; clear: both; z-index: 10001!important; background: white; top: 0; left: 0; width:100%; height: 100%; max-height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }
    #mobile-device .autosuggest-overlay p{font-size:14px;}
    #mobile-device .autosuggest-overlay em{ font-weight: bold; position: absolute;  z-index: 1001; right: 10px; top: 5px;background:url(../images/close-icon.png) no-repeat 0 0/20px 20px;width:20px;height:20px;}
    #mobile-device .autosuggest-overlay em span{display:none;}
    #mobile-device .autosuggest-overlay .top-cities-heading {padding:0em 0 0 1em ; font-size:14px;}
    #mobile-device .head-city{display:inline-block;width: 96%;margin: 2%;}
    #mobile-device .wfull {width: 100%; float: left;}
    #mobile-device .autosuggest-overlay .ui-listview li {padding:0.8em 0 0.8em 1em;font-family: "Lato Light"; border-bottom: 1px solid #e7e7e7 !important; color: #939494;font-size:14px;display: inline-block;width: 100%; margin-bottom: 0px;}
    #mobile-device .autosuggest-overlay .ui-listview li:hover{background:#337ab7;color:#fff;}
    #mobile-device .ui-listview>li {display: block; position: relative; overflow: visible;}
    #mobile-device .form-control{height:35px !important;}
    #mobile-device .autosuggest-overlay .dropdown-menu{width:100%;}
    #mobile-device .dropdown-menu{padding:0;}
    #mobile-device .dropdown-menu>li>a{padding: 7px 20px;}
    #mobile-device .city-popup{position:fixed;width:100%;z-index:1500; height: 100%; border-radius:5px; background-color:#FFF ; color:#000; top:0; left:0; padding:10px;}
    #mobile-device .city-code input{border:1px solid #ccc; border-radius: 5px; height: 35px; line-height: 35px; font-weight: normal; padding: 0 12px; color: #555;}
    #mobile-device .city-code input:focus{border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
    .mobile-device-bg .md-autocomplete-suggestions li:hover,.mobile-device-bg .md-autocomplete-suggestions li.selected{background: #337ab7; color: #fff;}
    .mobile-device-bg .md-autocomplete-suggestions li.selected .highlight{color: #fff;}
    /*.mobile-device-bg  .md-autocomplete-suggestions{max-height: 199.5px!important;}*/
    /*************** Set Css for City Option End*********************/
}




@media screen and (min-width:740px) and (max-width:2400px){
    #mobile-device .data-fill{padding:20px; margin: 0px;}
    #mobile-device .page{width: 740px; margin: 0 auto; float: none;}
    #mobile-device{margin:0px;}
    .user-info{margin-bottom: 0px;}
    #mobile-device .progressbar{position: static; float: left; width: 100%; }
    #mobile-device .progressbar button{border-radius:5px;}	
	.select-style { width: 100%;border-radius: 3px;overflow: hidden;position:relative;background:#fff;float:left;height:41px;border: 1px solid #cdcdcd;}
	.select-style.active-bg{border-color:#27ae60;}
.select-style select {padding:2px 8px 0  43px;width: 100%;border: none;box-shadow: none;height:41px;font-size:12px;background: transparent;background-image: none;}

}

@media all and (max-width:740px){
    #mobile-device .data-fill{padding:10px 10px; margin-bottom: 20px; position: relative;}
    #mobile-device .data-fill-outer{min-height: 200px; background: #fff;}
}

@media screen and (max-width:479px){
    .top-button li a{font-size: 13px;}
    .mobile-show span{font-weight: 400; font-size: 12px;}
    .layout-quote{width: 80%;}
}

@media screen and (max-width:480px){
    /*.plan-outer li:before{display: none;}*/
    #mobile-device .plan-outer{margin-top:5px;}
    .title p{margin-bottom: 5px;}
    
    .landing-iframe #mobile-device .progressbar{text-align:center; padding:0 10px}
    .landing-iframe #mobile-device .progressbar button{display:inline-block; float:none; width:100%; border-radius:5px;}
/*     #mobile-device .plan-outer li.child-icon:before{left: -5px}*/
    #mobile-device .plan-outer li span{padding-top: 16px}

}

@media screen and (max-width:320px){
    .plan-outer li:before{display: none;}
    #mobile-device .plan-outer{margin-top:0px;}
    .layout-quote{width: 90%;}
    .filter .contain h3{font-size: 9px;}
	.select-style select,.select-style,#set-mobile li .mob-icon input{height:35px;}
	.select-style{background:#fff url("../images/mobile-sprite.png") right -241px / 20px 400px no-repeat;}
	#set-mobile li .mob-icon:after {background-size: 26px 259px;left: 6px;height: 26px;}
	#set-mobile li .mob-icon:before {height: 34px;}
    #set-mobile li .mob-icon.r-age:after{background-position:0 -28px;}
    #set-mobile li .mob-icon.pension-month:after{background-position:0 -51px;}
    #set-mobile li .mob-icon.full-name:after{background-position:0 -105px;}
    #set-mobile li .mob-icon.email-id:after{background-position:0 -130px;}
    #set-mobile li .mob-icon.mobile-num:after{background-position:0 -156px;}
    #set-mobile li .mob-icon.pay-icon:after{background-position:0px -182px;}
    #set-mobile li .mob-icon.r-age.child-icon:after{background-position:0px -78px;}
    #set-mobile li .mob-icon.country-icon:after{background-position:0px -207px;}
    #set-mobile li .mob-icon.city-icon:after{background-position:0px -234px;} 
	div.bind-country-code:before{top:-2px;}

}



@media screen and (max-width:767px){
 .landing-iframe #mobile-device .user-info li{min-height: auto; height: auto; overflow: hidden; padding:0px; }
 .landing-iframe #mobile-device .lyout{width:100%} 
 .landing-iframe #mobile-device .data-fill form{box-shadow:none; padding:0px; background:none;}
 .landing-iframe #mobile-device .progressbar,.landing-iframe #mobile-device .data-fill{padding:0px;}
 .landing-iframe #mobile-device .user-info li.half-mobile .country-icon{padding-right:10px!important}
 .title{display: none;}

}
/* iPhone 4 ----------- */
@media screen and (max-device-width:320px) and (max-device-height:570px){
    /* iPhone 4 and under */
    pbheader{display:none}
    .mobile-device-bg .blue-wrapper{height: 70px}
/*    #mobile-device .plan-outer li:before{display: block;} */

}

/*** I phone 5 Header Show *****/
@media screen and (device-aspect-ratio: 40/71) {
pbheader{display:block}
.mobile-device-bg .blue-wrapper{height: 120px}

}

@media screen and (max-device-width:320px) and (max-device-height:480px) {
    /* iPhone 4 and under */
    #set-mobile li .mob-icon input,#mobile-device .user-info li md-select, #mobile-device .comprare-input  { height: 35px; line-height: 35px!important;}
    #set-mobile li .mob-icon:before{height: 34px;}
    #set-mobile li .mob-icon:after{background-size: 26px 259px; left: 6px; height: 26px}
    #set-mobile .user-input.pension-month.mob-icon{height: 35px}
    #set-mobile .user-info li md-input-container md-select .md-select-label .md-select-icon{top:12px;} 
    #mobile-device li.half-mobile .auto-compelte md-autocomplete{height:35px;} 
    #set-mobile .user-info li .md-select-label {height: auto;}
    #set-mobile .user-info .md-select-label span{line-height: 35px}  
	.select-style select,.select-style{height:35px;}
	.select-style{background:#fff url("../images/mobile-sprite.png") right -241px / 20px 400px no-repeat;}  
}

@media screen and (min-width:640px) and (max-width:731px){
.mobile-device-bg .blue-wrapper {height: 96px !important;}
}
@media screen and (min-width:773px) and (max-width:773px){
.header{box-shadow:none;}
#mobile-device .plan-outer ul{margin-top:20px;}
.mobile-device-bg .blue-wrapper {height: 110px !important;}
.title{display:none;}
}
@media screen and (min-width:736px) and (max-width:736px){
	.mobile-device-bg .blue-wrapper {height: 96px !important;}
}
@media screen and (min-width:768px) and (max-width:768px){
#mobile-device .plan-outer ul{margin-top:20px;}
.title{ margin-top:10px;}
.mobile-device-bg .blue-wrapper {height: 123px !important;}
}
@media screen and (min-width:1024px) and (max-width:1024px){
.header{box-shadow:none;}
#mobile-device .plan-outer ul{margin-top:20px;}
.mobile-device-bg .blue-wrapper {height: 204px !important;}
.data-fill{border:none;}
.select-style { width: 100%;border-radius: 3px;overflow: hidden;position:relative;background:#fff url("../images/mobile-sprite.png") right -237px / 20px 400px no-repeat;float:left;height:41px;border: 1px solid #cdcdcd;}
	.select-style.active-bg{border-color:#27ae60;}
.select-style select {padding:2px 8px 0  48px;width: 96%;border: none;box-shadow: none;height:41px;font-size:12px;background: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;color: #22364a;cursor:pointer;color:#2c3e50;border-radius:5px;}
}




.
                                             