﻿<%@ Page Language="C#" %>

<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {

        var ipSeries = new List<string>();
        string path = Request.Url.AbsoluteUri;
        var TATA = "203.196.142.";
        var TATAStart = 226;
        var TATAMax = 243;

        var AIRTEL = "122.160.107.";
        var AIRTELStart = 97;
        var AIRTELMax = 111;

        
        for (int i = TATAStart; i <= TATAMax; i++)
        {
            ipSeries.Add(TATA + i.ToString());
        }

        for (int i = AIRTELStart; i <= AIRTELMax; i++)
        {
            ipSeries.Add(AIRTEL + i.ToString());
        }

       /// RELIANCE IP SERIES

        ipSeries.Add("115.248.0.161");
        ipSeries.Add("115.248.0.162");
        ipSeries.Add("115.248.1.194");
        ipSeries.Add("115.248.1.195");
        ipSeries.Add("115.248.1.196");
        ipSeries.Add("115.248.1.197");
        ipSeries.Add("115.248.1.198");


        //Local Subnet Series
       /* var local1 = " 10.0.";
        var local1Start = 8;
        var local1Max = 11;

        for (int i = local1Start; i <= local1Max; i++)
        {
            for (int j = 1; j <= 254; j++)
            {
                ipSeries.Add((local1 + i.ToString() + "." + j.ToString()).Trim());
            }

        }

        //Local Subnet Series
        var local2 = " 10.0.";
        var local2Start = 28;
        var local2Max = 31;

        for (int i = local2Start; i <= local2Max; i++)
        {
            for (int j = 1; j <= 254; j++)
            {
                ipSeries.Add((local2 + i.ToString() + "." + j.ToString()).Trim());
            }
        }*/


        if (ipSeries.Contains(Request.ServerVariables["REMOTE_ADDR"]))
        {
            Response.Write(true);
        }
        else
        {
            Response.Write(false);
        }
    }
       

    
</script>
