﻿<%@ Page Language="C#" %>

<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {

        var ipOneTwoNine = "115.248.0.161";

        if (ipOneTwoNine ==  Request.ServerVariables["REMOTE_ADDR"])
        {
            Response.Write(false);
        }
        else
        {
            Response.Write(true);
        }
    }
       

    
</script>
