/*body{position: static!important;}*/
/********************** Customer IE Issues FIx ******************************************/
.title-case{display: table; width: 100%;}
.gender-set{display: table-cell; vertical-align: top; }
.full-name{display: table-cell; vertical-align: top; width: 70%}
.md-select-icon{display: inline-block;}
.cus-row md-select .md-select-label{width: 180px; display: inline-block; vertical-align: top; padding-top:0px; padding-bottom: 3px; }
.city-code md-input-container .md-input{padding-bottom: 3px;}
.row-space .error-messaqe > div{top: -15px}
.cus-row md-input-container label{font-size: 12px; color: #000}

.cus-row md-input-container{padding-left: 0px;}
.row-space #input_4{height: 32px;}
.country-code .md-select-label .md-select-icon:after{top: 5px; right: 5px}

.gender-set .error-messaqe div{top: 5px;}
.row-space .error-messaqe div{top: -20px;}
.auto-compelte .message-outside{top: -18px;}
/********************** Customer IE Issues FIx ******************************************/
.skip-button button.md-button{height: auto; min-height: 10px; line-height: 18px;}
md-option .md-ripple-container,md-option .md-text{padding: 0 16px;}
.cus-row md-select .md-select-label span{overflow: hidden; width: 160px; float: left;}
.country-code md-select .md-select-label span{position: relative; top: 8px;}

md-select-menu md-content{box-shadow:0 3px 3px #cdcdcd; border: 1px #c0c2c4; background: #fff; }
.cus-row md-input-container label{margin-bottom: 6px;}



/****************Quote Page***************************/
.filter-change.filter-outer .filter-return label{line-height: 54px;}
.filter-change.change-fund md-input-container label{margin-top: 6px;}
.filter-outer .md-select-label{line-height:28px;}
.filter-outer .md-select-icon{top:10px!important;background: url("../images/arrow-sprite.png") no-repeat scroll 0 -6px!important;}
md-toast{line-height:48px;}
md-checkbox.md-checked .md-icon:after{ -ms-transform: rotate(45deg);}
.user-inp-new .md-select-label span:after{position:absolute; right:0px; top:10px;}

md-input-container.bind-country-code:before{left:0px;}

.progressbar md-progress-circular.md-default-theme{-ms-transform:scale(0.416667);transform:scale(0.416667);}
/*html[data-useragent*='MSIE 10.0'] .city-code .md-input{margin-top: -8px!important;}*/

/*#mobile-device .md-select-icon{float:right; margin-top: 15px!important;}*/
#mobile-device .city-code md-autocomplete button md-icon{display:none;}
/*#mobile-device md-autocomplete button{z-index: 1000; position: absolute;}*/