
<div class="legend-box">
<div class="legend leg1">{{legend1}}</div>
<div class="legend leg2">{{legend2}}</div>
</div>
<div class="chart-link">	
	<div class="layout-sm-column layout-row">
 	 <md-radio-group ng-model="radio.check">
      <md-radio-button data-ng-click="changeMap(10)" value="1" >10 Years</md-radio-button>
      <md-radio-button data-ng-click="changeMap(15)" value="2" > 15 Years </md-radio-button>
         <md-radio-button data-ng-click="changeMap(20)" value="3" data-ng-if="filtObject.toolId==4">20 Years</md-radio-button>
      <md-radio-button data-ng-click="changeMap(25)" value="4" >25 Years</md-radio-button>
         <md-radio-button data-ng-click="changeMap(30)"  value="5" data-ng-if="filtObject.toolId==2">30 Years</md-radio-button>
    </md-radio-group>
</div>
</div>