<div ng-if="isLanding" class="header-part">
    <ng-include src="'templates/quote-header.html'"></ng-include>
</div>
<div class="page-outer">
    <div ng-if="isLanding" class="banner">
        <div class="banner-layout"><img ng-src="{{imageUrl}}"/></div>
    </div>
    <div class="prequote">
        <div ng-if="isLanding && discountsAndPremium.length>0" class="left-side"><h4>Key Features</h4>
            <ul ng-repeat="val in discountsAndPremium">
                <li ng-bind-html="val.text"></li>
            </ul>
        </div>
        <div class="layout">
            <div class="title" ng-if="!isIFrame">
                <h2>Select A Goal For Your Investment</h2>

                <p class="center-align">Each investment plan comes with tax-saving benefits. Select one that suits your
                    need.</p>
            </div>
            <div data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}">
                <div class="plan-outer" ng-if="!isIFrame">
                    <ul>
                        <li ng-repeat="plan in plans track by plan.name" class="plan-box"
                            ng-class="{'growth-icon':plan.id===1,'retirment-icon':plan.id===2,'child-icon':plan.id===3,'selected-plan':plan.selected}"
                            data-ng-click="isAnyPlanSelected(plan.id)">
                            <span class="plan-type">{{plan.name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="data-fill-outer">
                    <div data-ng-if="planSelected" class="data-fill selected-plan-anim">
                        <form novalidate ng-submit="createEnquiry(searchForm.$valid,searchForm)" name="searchForm">
                            <div class="value-input data-left">
                                <ul class="user-info">
                                    <!--<li>
                                        <label>Age </label>
                                        &lt;!&ndash;<span class="user-input">
                                            <input ng-class="{'error':(submitted || focus) && (isError ||searchForm.your.$error.required)}"
                                                   type="tel" name="your" placeholder="Your Age" maxlength="2"
                                                   ng-model="details.yourAge"
                                                   ng-change="checkForError(details.yourAge,searchForm.your.$error.required)"
                                                   ng-blur="changeInYourAge();focus=true;" only-num required/>
                                        </span>&ndash;&gt;

                                        <div ng-show="(submitted || focus) && searchForm.your.$error.required"
                                             class="error-messaqe">Enter your age
                                        </div>
                                        <div ng-show="index===2 && (submitted || focus) && details.yourAge<=65 && details.yourAge>=20 && details.yourAge>details.age"
                                             class="error-messaqe">Your age cannot be greater than retirement age
                                        </div>
                                        <div ng-show="index===3  && (submitted || focus) && details.yourAge>=18&& details.yourAge-details.age<18"
                                             class="error-messaqe">Diff between your and child age should be greater
                                            than 18
                                        </div>
                                        <div ng-show="(submitted || focus) && details.yourAge<18 && index!==2"
                                             class="error-messaqe">You should be 18 years or above
                                        </div>
                                        <div ng-show="(submitted || focus) && index===2 && details.yourAge<20"
                                             class="error-messaqe">You should be 20 years or above
                                        </div>
                                        <div ng-show="(submitted || focus) && details.yourAge>65" class="error-messaqe">
                                            Your
                                            age
                                            should be 65 years or less
                                        </div>

                                    </li>
-->
                                    <li>
                                        <label class="label-size">DOB</label>
                                        <span>
                                            <md-input-container class="dd-format">
                                                <md-select id="select_6" name="dobDate" data-ng-model="data.dobDate" placeholder="DD"
                                                           data-ng-change="changeDate(data.dobDate)">
                                                    <md-option value="{{$index + 1}}" ng-selected="($index + 1) == data.dobDate"
                                                               data-ng-repeat="item in dob.date">
                                                        {{item}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container class="dd-format">
                                                <md-select id="select_label_1" name="dobMonth" data-ng-model="data.dobMonth" placeholder="MM"
                                                           data-ng-change="changeMonth(data.dobMonth)">
                                                    <md-option value="{{$index + 1}}"  ng-selected="($index + 1) == data.dobMonth"
                                                               data-ng-repeat="item in dob.month">
                                                        {{item}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container>
                                                <md-select id="select_10" name="dobYear" data-ng-model="data.dobYear" placeholder="YYYY"
                                                           data-ng-change="changeYear(data.dobYear)">
                                                    <md-option value="{{item}}" ng-selected="isYearSelected($index, data.dobYear)"
                                                               data-ng-repeat="item in dob.year">
                                                        {{item}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <input type="hidden" name="dob" data-ng-model="dobObj.dob" value="" required
                                                   ng-pattern="/^(0[1-9]|[12][0-9]|3[01])[\- \/.](?:(0[1-9]|1[012])[\- \/.](19|20)[0-9]{2})$/" />

                                            <div ng-messages="searchForm.dob.$error">
                                                <div data-ng-class="{'fadeIn':isDOBMissing(),
                                                    'fadeOut':!isDOBMissing()}"
                                                     data-ng-show="submitted && isDOBMissing()"
                                                     class="error-messaqe">Please enter your dob.</div>

                                                <div ng-show="!isDOBMissing() && !isValidDateOfBirth()"
                                                     data-ng-class="{'fadeIn': !isDOBMissing() && !isValidDateOfBirth(),
                                                    'fadeOut':!(!isDOBMissing() && !isValidDateOfBirth())}"
                                                     class="error-messaqe">Please enter your valid dob.</div>

                                                <div ng-show="(submitted || focus) && details.yourAge<18 && index!==2"
                                                     class="error-messaqe">You should be 18 years or above
                                                </div>
                                                <div ng-show="(submitted || focus) && index===2 && details.yourAge<20"
                                                     class="error-messaqe">You should be 20 years or above
                                                </div>
                                                <div ng-show="index===3  && (submitted || focus) && details.yourAge>=18&& details.yourAge-details.age<18"
                                                     class="error-messaqe">Diff between your and child age should be greater
                                                    than 18
                                                </div>
                                                <div ng-show="(submitted || focus) && details.yourAge>60" class="error-messaqe">
                                                    Your age should be 60 years or less
                                                </div>

                                                <div ng-show="index===2 && (submitted || focus) && details.yourAge<=65 && details.yourAge>=20 && details.yourAge>details.age"
                                                     class="error-messaqe">Your age cannot be greater than retirement age
                                                </div>
                                                <!--<div ng-show="(submitted || focus) &&  (index===2 &&  details.yourAge<=65  && details.yourAge>=20 && details.age - details.yourAge<10 && details.age - details.yourAge>=0)"
                                                     class="error-messaqe">Difference between retirement age and your age cannot
                                                    be
                                                    less than 10
                                                </div>-->

                                            </div>
                                        </span>
                                    </li>





                                    <li>
                                        <label data-ng-if="index!==1">{{nameOfAge}} </label>
                                        <span class="user-input" data-ng-if="index!==1">
                                            <input ng-class="{'error':(submitted || focusObj.termFocus) && (isTermError||searchForm.age.$error.required)}"
                                                   type="tel" name="age" maxlength="2" ng-model="details.age"
                                                   ng-change="checkForTermError(details.age,searchForm.age.$error.required)"
                                                   ng-blur="changeInTerm(details.age,searchForm.your.$error.required);focusObj.termFocus=true"
                                                   only-num
                                                   required/>
                                        </span>

                                        <div ng-show="(submitted || focusObj.termFocus) && ((searchForm.age.$error.required))"
                                             class="error-messaqe"><span
                                                ng-show="index===2">Enter retirement age</span><span ng-show="index==3">Enter child's age</span>
                                        </div>
                                        <div ng-show="index===2 && (submitted || focusObj.termFocus) && (details.age>80 || details.age<50)"
                                             class="error-messaqe">Retirement Age should be between 50 and 80
                                        </div>
                                        <div ng-show="index===2  && (submitted || focusObj.termFocus) && details.age<=80 && details.age>=50 && details.yourAge>=20 && details.yourAge<66 && details.age-details.yourAge<10"
                                             class="error-messaqe">Difference between retirement age and your age cannot
                                            be
                                            less than 10
                                        </div>
                                        <div ng-show="index===3  && (submitted || focusObj.termFocus) && details.age>17"
                                             class="error-messaqe">Child age has to be less than 18
                                        </div>
                                    </li>
                                </ul>

                                <div class="desire-monthly">
                                    <label>{{firstText}}</label>
                                    <md-slider flex min=0 max={{sliderObj.max}} ng-model="sliderObj.value" step=1
                                               slider-drag aria-label="amount" class ng-if="index===1">
                                    </md-slider>
                                    <md-slider flex min=0 max={{sliderObj.max}} ng-model="sliderObj.value" step=1
                                               slider-drag aria-label="amount" class ng-if="index===2">
                                    </md-slider>
                                    <md-slider flex min=0 max={{sliderObj.max}} ng-model="sliderObj.value" step=1
                                               slider-drag aria-label="amount" class ng-if="index===3">
                                    </md-slider>

                                </div>
                                <div class="disclaimer"><p><strong>Disclaimer:</strong> The investment values on this
                                    page
                                    are tentative.</p></div>

                            </div>
                            <div class="value-display data-right">
                                <div class="data-rightrow">
                                    <label>{{secondText}}</label>
                                <div ng-cloak><span data-ng-if="index===1">Rs.{{details.monthlyAmount|addCommas}}   <em data-ng-show="index!=3" class="ng-binding">{{index==1?perText:finalText}}</em></span>
                                <span data-ng-if="index!==1">Rs.{{details.amount|amountConvertString}}   <em data-ng-show="index!=3" class="ng-binding">{{index==1?perText:finalText}}</em></span>
								&nbsp;

									
                                    <em ng-if="index===3 && !isTermError && !isError && details.age>=0"
                                        class="ng-binding pay-box"> Upon turning
                                        <em data-ng-show="details.age>=14">{{10+details.age}}</em>
                                        <em class="tur-amt-out"
                                            data-ng-if="details.age<14"
                                            ng-click="triggerSelectBox()">
                                            <small class="tur-amt">{{-(-details.childTerm-details.age)}}</small>
                                        </em>
                                        <span class="small-drp">
                                        <md-select class="trigger-class-select" placeholder="Age"
                                                   ng-model="details.childTerm"
                                                   md-on-close="hideObject.dropDownNotSeen = !hideObject.dropDownNotSeen"
                                                   data-ng-change="changeInvestmentAmount()"
                                                   data-ng-if="details.age<14">
                                            <md-option ng-value=10>{{10+details.age}}</md-option>
                                            <md-option ng-value=15>{{15+details.age}}</md-option>
                                            <md-option ng-value=20 data-ng-if="details.age<9">{{20+details.age}}
                                            </md-option>
                                        </md-select>
                                      </span>
                                    </em>

                                </div>

                                    <small class="small-txt" data-ng-if="index===1">( <strong class="lightblue-txt">Rs.{{details.amount|amountConvertString}}</strong>
                                        <em>{{finalText}}</em> )
                                    </small>
                                </div>
                                <div class="data-rightrow mrgbot10">
                                    <div class="message-outer" ng-show="isTermError||isError||projectForm.$invalid">
                                        <span class="light-blue message">waiting for you to tell us more about you</span>
                                    </div>

                                    <div class="right-message"
                                         ng-show="!(isTermError||isError||projectForm.$invalid) && dontShowMessage">
                                        <label>{{thirdText}}</label>
                                        <span class="light-blue message-fix" id="myTargetElement"></span>
                                        <label ng-if="index!==1">{{inYearsText}}</label>

                                        <div ng-if="index===1" class="pay-term-box">
                                            <div class="pay-box">
                                                <label ng-if="index===1">in</label>
                                                <label ng-if="index===1 && !showDropDown">{{details.age}}</label>
                                                <md-select ng-if="index===1 && showDropDown" placeholder="Age"
                                                           ng-model="details.age"
                                                           data-ng-change="changeInGrowthTerm(searchForm.your.$error.required)">
                                                    <md-option ng-repeat="age in ages" ng-value="age">{{age}}
                                                    </md-option>
                                                </md-select>
                                                <label ng-if="index===1"> years</label>
                                            </div>
                                            <a data-ng-click="showDropDownfunc()" ng-show="index===1 && !showDropDown"
                                               class="show-drop">Edit Pay Term</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="progressbar">


                                    <md-button class="md-raised md-primary lightgreen-button" ng-disabled="loaderProceed"
                                               ng-class="{'please-wait':loaderProceed,'disable':searchForm.$invalid||isError||!isValidDateOfBirth()}"
                                               ng-click="submitted=true" >{{buttonName}}
                                        <em>
                                            <md-progress-circular md-mode="indeterminate" md-diameter="20"
                                                                  data-ng-show="loaderProceed"></md-progress-circular></em>
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>