<div class="modal fade" id="toolsModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-ng-controller="ToolsController">
    <div class="modal-dialog " >
        <div class="modal-content">
            <div class="modal-body ">
             <a class="pclose-icon close-btn" data-dismiss="modal" aria-label="Close">&nbsp;</a>
                <div class="compare-amount layout ">
              <div class="posi-colum1">
                        <div class="title">
                            <p class="mrgbot10">HOW MUCH WOULD YOU LIKE TO INVEST, PER YEAR?</p>
                        </div>
                        <md-input-container class="plan-chooser">

                            <only-num-add-commas class="user-inputbox" add-class="num-add-comp" det="obj"
                                                 change-values="changeTaxValues();checkForError()"
                                                 get-focus-out="focusOut()"></only-num-add-commas>
                            <div class="error-message" data-ng-show="!obj.amountFocusLost&& isError">Investment amount
                                should be between 10000 and 5000000
                            </div>


                        </md-input-container>
                        <div class="small-des">View the table below to see the impact on returns, by choosing to invest
                            in insurance, versus FD’s and Mutual Funds
                        </div>
                    </div>
                    <div class="posi-colum2">
                        <div class="title">
                            <p class="mrgbot10">Compare Insurance with</p>
                        </div>
                    <span class="compare-param">
                        <md-radio-group ng-model="compare.param" data-ng-change="compareParamsChanged()">
                            <md-radio-button class="md-primary" value=0>Fixed Deposits / Safe Investments
                            </md-radio-button>
                            <md-radio-button class="md-primary" value=1>Equity / Mutual Funds / High Returns
                            </md-radio-button>
                            <md-radio-button class="md-primary" value=2>Both</md-radio-button>
                        </md-radio-group>
                    </span>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
            <div class="pricebox-table-outer">
                <div class="pricebox-table-inner">
                    <div class="com-amt"><div class="title">
                            <p class="mrgbot10">Investment Amount</p>
                        </div>
                        <md-input-container class="plan-chooser">

                            <only-num-add-commas class="user-inputbox " min-length="1"
                                                    max-length="12" add-class="num-add-comp " det="obj"
                                                 change-values="changeTaxValues();checkForError()"
                                                 get-focus-out="focusOut()"></only-num-add-commas>
                           


                        </md-input-container> 
                         <div class="error-message" data-ng-show="!obj.amountFocusLost&& isError">Investment amount
                                should be between 10000 and 5000000</div>
                        <div class="edit" data-ng-click="focusEdit()"></div>
                       
                            </div>
                        
                    </div>
                    <div class="pricebox-table">
                        <div class="price-boxleft">
                            
                            <ul>

                                <li>Initial Investment</li>

                                <li data-ng-show=viewMoreDetails>Interest Rate</li>

                                <li>Return after 5 Years</li>

                                <li class="tool-tip">Tax Paid on Returns
                                    <small class="warn">*</small>
                                     <span>
                                         <em class="arrow-left"></em>
                                         Tax levied on interest earned over investment
                                     </span>
                                </li>

                                <li class="tool-tip">Returns after Tax
                                    <small class="warn">*</small>
                                     <span>
                                         <em class="arrow-left"></em>
                                          Net returns after taxes
                                     </span>
                                </li>

                                <li>Interest Rate after Tax</li>

                                <li>Risk</li>
                                <li>Rs.{{tenxValue|amountConvertString}} Life Cover</li>
                                <li>Minimum Investment Tenure</li>
                                <li data-ng-show=viewMoreDetails>Tax Saved On Investment</li>                            
                            </ul>
                        </div>
                        <div class="price-boxright">
                            <div class="price-table">
                                <div class="pricePlans price-plans" ng-repeat="singlePlan in plans"

                                     ng-class="{'selected-plan':singlePlan.selected,'deposit-dept':singlePlan.id===1,'tax-free':singlePlan.id===3}">
                                    <h3 class="plan-heading">
                                        {{singlePlan.name}}</h3>
                                    <ul>
                                        <li><span class="show-mobile">Initial Investment</span>Rs.{{obj.investment|addCommas}}
                                        </li>

                                        <li class="plan-anualreturn" data-ng-show=viewMoreDetails>
                                            <span class="show-mobile">Interest Rate</span>
                                            {{singlePlan.annualReturnsMin}}% - {{singlePlan.annualReturnsMax}}%
                                        </li>
                                        <li class="single-plan"><span
                                                class="show-mobile">Return after 5 Years</span>Rs.
                                            {{singlePlan.payoutBeforeTaxMax|amountConvertString}}
                                        </li>
                                        <li class="single-plan"
                                            data-ng-if="singlePlan.taxPayableMin>0||singlePlan.taxPayableMax>0">
                                                <span class="show-mobile">Tax Paid on Returns<small class="warn">*
                                                </small></span>Rs.
                                            {{singlePlan.taxPayableMax|addCommas}}
                                        </li>
                                        <li data-ng-if="singlePlan.taxPayableMin===0&&singlePlan.taxPayableMax===0"
                                            class="single-plan2"><span class="show-mobile">Tax Paid on Returns<small
                                                class="warn">*
                                        </small></span>0
                                        </li>
                                        <li class="plan-payoutbefore"><span
                                                class="show-mobile">Returns after Tax</span>Rs.
                                            {{singlePlan.afterTaxReturnsMax|amountConvertString}}
                                        </li>
                                        <li class="single-plan"><span
                                                class="show-mobile">Interest Rate after Tax</span>{{singlePlan.afterTaxReturnRateMin|removeTrailingZeros}}%
                                            -
                                            {{singlePlan.afterTaxReturnRateMax|removeTrailingZeros}}%
                                        </li>
                                        <li class="single-plan-risk"><span class="show-mobile">Risk</span>{{singlePlan.risk}}
                                        </li>
                                        <li class="single-planlcover"
                                            ng-class={'yes':singlePlan.lifeCover,'no':!singlePlan.lifeCover}>
                                            <span class="show-mobile">Rs.5.4 Lac Life Cover</span><span
                                                class="ys-no-icon"><em>{{singlePlan.lifeCover}}</em></span>
                                        </li>
                                        <li class="single-tenure"><span
                                                class="show-mobile">Minimum Investment Tenure </span>{{singlePlan.tenure}}
                                        </li>
                                        <li class="tax-saved" data-ng-show=viewMoreDetails><span
                                                class="show-mobile">Tax Saved On Investment </span>Rs.
                                            {{taxSavedOnInvestment|addCommas}}
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

