<div ng-if="isLanding"><ng-include src="'templates/quote-header.html'"></ng-include></div>

<div class="layout" >
    <div class="title" >
        <h2>Please provide the following information </h2>
        <h4 class="go-back">          
                <a tabindex="0" class="back-arrow" href="javascript:void(0);" data-ng-click="goBackToHome();">
                    <span>Go Back to the Previous Screen</span>
                </a>     
        </h4>
    </div>
    <div class="layout-customer">
        <div class="box-layout"
             data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}">


            <form ng-submit="populateCustomerDetails(projectForm.$valid,projectForm)" name="projectForm" novalidate   autocomplete="off">
                <span></span>

                <div class="cus-table">
                    <div class="cus-row">
                        <md-content layout-padding class="title-case">

                            <md-input-container class="gender-set">
                                <h3>Title </h3>
                                <md-radio-group class="gender-group" ng-model="customerEntity.gender" name="gender" required>
                                    <md-radio-button value=1 class="md-primary pred" id="radio_1322">Mr.</md-radio-button>
                                    <md-radio-button value=2 class="md-primary pred pred-right" id="radio_1323">Ms.</md-radio-button>
                                </md-radio-group>
                                <div ng-show="submitted && projectForm.gender.$error.required"
                                     ng-messages="projectForm.gender.$error" class="error-messaqe">
                                    <div ng-message="required"> You missed this</div>
                                </div>
                            </md-input-container>
                            <md-input-container  class="full-name"
                                                ng-class="{'md-input-success':!projectForm.description.$invalid && blurObject.customerNameBlurOut,'md-input-error':projectForm.description.$invalid && blurObject.customerNameBlurOut}">
                                <label>Your Full Name</label>
                                <input id="input_1324" required name="description" formnovalidate  autocomplete="false" maxlength="40" ng-model="customerEntity.CustomerName"
                                       ng-pattern="/[a-zA-Z\s]$/" ng-blur="trueThat('customer')">

                                <div class="error-messaqe" ng-messages="projectForm.description.$error"
                                     ng-show="blurObject.customerNameBlurOut || submitted">
                                    <div ng-message="required">Enter Your Name.</div>
                                    <div ng-message="pattern">Enter only alphabets.</div>
                                </div>
                            </md-input-container>
                        </md-content>

                    </div>

                    <div class="cus-row row-space">
                        <md-input-container
                                ng-class="{'md-input-success':!projectForm.emailAdd.$invalid && blurObject.emailBlurOut ,'md-input-error':projectForm.emailAdd.$invalid && blurObject.emailBlurOut}">
                            <label>Email Address</label>
                            <input id="input_1325" type="email" required name="emailAdd" maxlength="60" ng-model="customerEntity.Email"
                                   ng-blur="trueThat('email')"
                                   ng-pattern="/[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?/">

                            <div class="error-messaqe" ng-messages="projectForm.emailAdd.$error"
                                 ng-show="blurObject.emailBlurOut || submitted">
                                <div ng-message="required">Enter Email Id.</div>
                                <div ng-message="pattern">Enter Valid Email Id.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="cus-row number-field">
					    <md-input-container class="country-code"
                                            ng-class="{'md-input-success':!projectForm.countrycode.$invalid && blurObject.countryBlurOut,'md-input-error':projectForm.countrycode.$invalid && blurObject.countryBlurOut}">

                            <h3 class="c-code">Country</h3>

                            <div class="clear"></div>
                            <md-select id="select_label_1321" name="countrycode" required placeholder="Country Code"
                                       ng-model="customerEntity.CountryID"
                                       data-ng-change="changeMaxLength(customerEntity.CountryID);trueThat('country');searchForCountryCode(customerEntity.CountryID)">
                                <md-option ng-repeat="code in countryCodes"
                                           ng-value="code.CountryCodeId">{{code.CountryName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="city-code">
                            <div class="auto-compelte"
                                 ng-class="{'md-input-success':!projectForm.cityDetails.$invalid && blurObject.cityBlurOut,'md-input-error':projectForm.cityDetails.$invalid && blurObject.cityBlurOut}">
                                <md-autocomplete ng-required=true
                                                 md-input-name="cityDetails"
												 ng-disabled=cityChangesObj.isNRI
                                                 md-no-cache=true
                                                 md-selected-item="selectedCityItem"
                                                 md-search-text-change="searchCityTextChange(cityChangesObj.citySearchText)"
                                                 md-search-text="cityChangesObj.citySearchText"
                                                 md-selected-item-change="selectedCityItemChange(cityItem)"
                                                 md-items="cityItem in city | searchCity: {value:city,search: cityChangesObj.citySearchText}"
                                                 md-item-text="cityItem.value"
                                                 md-min-length="cityChangesObj.minValue"
                                                 md-autoselect=true
                                                 md-autofocus="false"
                                                 md-floating-label="City">
                                    <md-item-template>
                                            <span md-highlight-text="cityChangesObj.citySearchText" md-highlight-flags="^i">
                                             {{cityItem.display}}
                                            </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No matches found for "{{cityChangesObj.citySearchText}}".
                                    </md-not-found>
                                </md-autocomplete>
                                <div ng-show="!errorPresent && ((blurObject.cityBlurOut || submitted) && (projectForm.cityDetails.$error.required||cityChangesObj.citySearchText.length===0))"
                                     class="error-messaqe">
                                    <div class="message-outside">Enter city name</div>
                                </div>
                                <div class="error-messaqe" ng-show="errorPresent">
                                    <div class="message-outside">{{cityErrorMessage}}</div>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="bind-country-code"><input name="countryCode" ng-class="{'country-code-value':customerEntity.CountryID===999,'country-code-valuenot':customerEntity.CountryID!==999,'error':(submitted && projectForm.countryCode.$invalid)}" type="tel" only-num maxlength="4" minlength="1" ng-model="cityChangesObj.countryCode" ng-blur="checkIfAvailableList(cityChangesObj.countryCode)" ng-disabled="!cityChangesObj.isEditable" required aria-label="Country Code"> </md-input-container>
                        <md-input-container class="mob-number"
                                            ng-class="{'md-input-success':!projectForm.rate.$invalid && blurObject.mobileBlurOut,'md-input-error':projectForm.rate.$invalid && blurObject.mobileBlurOut}">

                            <label>Mobile Number</label>
                            <input id="input_1330" type="tel" name="rate" only-num ng-model="customerEntity.MobileNo"
                                   maxlength="{{maxNum}}" minlength="{{minNum}}" ng-blur="trueThat('mobile')" required>

                            <div ng-messages="projectForm.rate.$error"
                                 ng-show="(blurObject.mobileBlurOut || submitted)&&!errorMessageHide"
                                 class="error-messaqe">
                            <div ng-message="required">Enter your mobile number.</div>
                                <div ng-message="maxlength">Enter valid mobile number.</div>
                                <div ng-message="minlength">Enter valid mobile number.</div>
                            </div>
                            <div data-ng-show="errorMessageHide" class="error-messaqe">Enter valid mobile number</div>
                        </md-input-container>
                        <div class="error-messaqe" ng-messages="projectForm.countrycode.$error"
                             ng-if="blurObject.countryBlurOut || submitted">
                            <div ng-message="required">Select Country Code</div>
                        </div>

                    </div>
                </div>

                <div class="privacy">
                    <input name="privacy" ng-model="privacy" ng-checked="true" type="checkbox" required/> <span >I have read and agree to the <a href="http://www.policybazaar.com/privacy-policy/" target="_blank">Privacy Policy</a></span>
                    <div ng-messages="projectForm.privacy.$error"
                            ng-show="projectForm.$submitted && projectForm.privacy.$invalid"
                            class="error-messaqe">
                            <div ng-message="required">Please select privacy policy</div>
                        
                    </div>
                </div>
                <div class="cus-row button-outer">
                    <div class="button-set">
                     <div class="progressbar" >

                       
                        <md-button class="lightgreen-button"
                                   ng-class="{'please-wait':customerProceed,'disable':projectForm.$invalid}"
                                   ng-click="submitted=true" ng-disabled="customerProceed">{{custFormSubmitName}}
                            <em><md-progress-circular md-mode="indeterminate" md-diameter="20"
                                                      data-ng-show="customerProceed"></md-progress-circular></em>
                        </md-button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
