<div class="main-filter-contain md-whiteframe-z2" data-ng-class="{'traditional-outer':filterObject.toolId==0}">
    <form name="projectForm" novalidate>
        <div class="filter mob-cell">
            <div class="contain">
                <h3><span class="hide-mob">Your</span> {{monthlyName}} Investment</h3>

                <div class="user-input input-col1">
                    <div class="edit-btn" data-ng-class="{'leftm3':hideObject.editButtonHide}"
                         data-ng-click="details.amountFocusLost=false;hideObject.editButtonHide=true;showWithCommas()">
                        <em data-ng-show="!hideObject.editButtonHide">Edit</em>
                    </div>
                    <div class="save-btn" data-ng-class="{'rightm3':hideObject.editButtonHide}">
                        <em class="save" data-ng-show="hideObject.editButtonHide"
                            data-ng-click="ApplyFilters()">Save</em>
                        <a data-ng-show="hideObject.editButtonHide"
                           data-ng-click="undoChanges()">X</a>
                    </div>
                    <div class="user-input-inner">
                        <span class="rs-txt">Rs.</span>
                        <span class="amt-col1" ng-if="details.amountFocusLost"
                              data-ng-click="details.amountFocusLost=!details.amountFocusLost;hideObject.editButtonHide=true;showWithCommas()"> {{details.spaninvestment}}</span>
                        <only-num-add-commas class="user-inputbox" add-class="" det="details"
                                             change-values="checkForError()"
                                             min-length="1"
                                             max-length="8"
                                             get-focus-out="focusOut()"
                                             ng-enter="focusOut();ApplyFilters()"></only-num-add-commas>

                    </div>
                    <div class="error-message"
                         data-ng-show="!obj.amountFocusLost && isError && details.investmentType==1">Investment
                        amount
                        should be between 10000 and 200000 yearly
                    </div>
                    <div class="error-message"
                         data-ng-show="!obj.amountFocusLost && isError && details.investmentType==2">Investment
                        amount
                        should be between 834 and 16666 monthly
                    </div>
                </div>
                <a class="change-to" ng-click="changeInvestmentType()">{{typeName}}</a>
            </div>
        </div>
        <div class="filter  mob-cell">
            <div class="contain">
                <h3>You will pay for</h3>

                <div class="user-input">
                    <!--<div class="edit-btn" data-ng-class="{'leftm3':hideObject.editButtonHide}"
                         data-ng-click="focusOnPayTerm();hideObject.payFocus=true;hideObject.editButtonHide=true;">
                        <em data-ng-show="!hideObject.editButtonHide">Edit</em>
                    </div>
                    <div class="save-btn" data-ng-class="{'rightm3':hideObject.editButtonHide}">
                        <em class="save" data-ng-show="hideObject.editButtonHide"
                            data-ng-click="ApplyFilters()">Save</em>
                        <a data-ng-show="hideObject.editButtonHide"
                           data-ng-click="undoChanges()">X</a>
                    </div>-->
                    <div class="user-input-inner user-inp-new">

                        <md-input-container>
                            <!-- <h3>You will pay for</h3> -->
                            <md-select id="select_1357" ng-model="details.payTerm" ng-disabled="filterObject.toolId==0" data-ng-class="{'disabled-grey':filterObject.toolId==0}"
                                       class="small-input pay-term-focus" aria-label="pay term"
                                       ng-change="changePolicyTermList();ApplyFilters()">
                                <md-option ng-repeat="payTerm in payTermList" ng-value="payTerm">{{payTerm}}</md-option>
                            </md-select>
                        </md-input-container>

                        <!--<input class="small-input pay-term-focus" type="tel" name="time" maxlength="2" placeholder="0"
                               ng-change="checkErrorForPay()" ng-model="details.payTerm"
                               ng-blur="hideObject.payFocus = false"
                               ng-focus="hideObject.payFocus=true;hideObject.editButtonHide=true;" only-num/>

                        <span class="year-txt" data-ng-click="hideObject.payFocus=true;focusOnPayTerm()"
                              data-ng-show="!hideObject.payFocus"> years</span>-->
                    </div>
                    <!--<div class="error-message"
                         data-ng-show="isPayTermError && (details.payTerm<5 || details.payTerm>30)">Value should be
                        between 5 to 30
                    </div>-->
                    <p class="user-desc" data-ng-if="filterObject.toolId!=0">Choose pay term option from 5 to 30 year</p>
                </div>
            </div>
        </div>
        <div class="filter filter-payout">
            <div class="contain">
                <h3>You will receive money In</h3>

                <div class="user-input">
                    <!--<div class="edit-btn" data-ng-class="{'leftm3':hideObject.editButtonHide}"
                         data-ng-click="focusOnPolicyTerm();hideObject.policyFocus=true;hideObject.editButtonHide=true;">
                        <em data-ng-show="!hideObject.editButtonHide">Edit</em>
                    </div>
                    <div class="save-btn" data-ng-class="{'rightm3':hideObject.editButtonHide}">
                        <em class="save" data-ng-show="hideObject.editButtonHide"
                            data-ng-click="ApplyFilters()">Save</em>
                        <a data-ng-show="hideObject.editButtonHide"
                           data-ng-click="undoChanges()">X</a>
                    </div>-->
                    <div class="user-input-inner user-inp-new">
                        <md-input-container>
                            <!-- <label>You will pay for</label> -->
                            <md-select  ng-model="details.payOutStart" ng-disabled=true
                                       class="small-input pay-term-focus" aria-label="policy term"
                                       ng-change="ApplyFilters()" data-ng-class="{'disabled-grey':true}">
                                <md-option ng-repeat="pTerm in policyTermList" ng-value="pTerm.payOutStart"><span>{{pTerm.payOutStart}}</span>
                                    <span class="policy-start-plan" ng-if=false>({{pTerm.noOfPlans}})</span></md-option>
                            </md-select>
                        </md-input-container>
                        <!--<input class="small-input2  policy-term-focus" placeholder="0" type="tel" name="time"
                               maxlength="2"
                               ng-change="checkErrorForPolicy()" ng-model="details.payOutStart"
                               ng-blur="hideObject.policyFocus = false"
                               ng-focus="hideObject.policyFocus=true;hideObject.editButtonHide=true;" only-num/><span
                            class="year-txt" data-ng-click="hideObject.policyFocus=true;focusOnPolicyTerm()"
                            data-ng-show="!hideObject.policyFocus">years</span>-->
                        <!-- <span class="onwards">onwards</span> -->


                    </div>
                    <div class="error-message"
                         data-ng-show="isPolicyTermError && (details.payOutStart<5 || details.payOutStart>30)">Value
                        should be between 5 to 30
                    </div>
                    <div class="error-message" data-ng-show="isPolicyTermError && details.payOutStart<details.payTerm">
                        Pay out start time cannot be lesser than pay term
                    </div>
                </div>
                <p class="user-desc">Number of years your money will stay invested</p>
            </div>
            <div class="quote-filter"></div>
        </div>
        <div class="filter murge-col" data-ng-class="{'traditional-feat':filterObject.toolId==0}" data-ng-if="filterObject.toolId!=0">
            <div class="contain">
                <h3>Features
                    <!--<small data-ng-click="changeFeatureList(hideObject.showFeatureDetails)">What are these?</small>-->
                </h3>

                <div class="addon">
                    <ul>
                        <li class="addonrow" ng-repeat="filter in planFilters"
                            data-ng-if="!(hideObject.viewMore && $index>=5)"
                            data-ng-class="{'add-on-animate':!(hideObject.viewMore && $index>=5)}">
                            <md-checkbox ng-model="filter.checked" aria-label="Checkbox 1"
                                         data-ng-change="applyFeatures()">
                                {{filter.fullName}}
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
                <div class="clear">&nbsp;</div>

            </div>
            <a data-ng-click="viewMoreFeatures()" id="lnkViewMoreFeatures" class="view-more-btn" ng-class="{'sel':!hideObject.viewMore}">{{viewMore}}</a>

            <div class="add-on-features" data-ng-show="hideObject.showFeatureDetails">
                <div class="contain">
                    <h3>Features
                        <small class="close-btn" data-ng-click="changeFeatureList(hideObject.showFeatureDetails)">
                            &nbsp;</small>
                    </h3>
                    <div class="addon">
                        <ul>
                            <li class="addonrow" ng-repeat="filter in planFilters"
                                data-ng-class="{'add-on-animate':!(hideObject.viewMore && $index>4 && filterObject.toolId==0)}">
                                <div class="md-label-outer">
                                    <div class="md-label">
                                        <span>{{filter.fullName}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="filter payout-opt" data-ng-if="filterObject.toolId==0">
        <div class="contain">
            <h3>Payout Type</h3>
            <md-radio-group class="payouter" ng-model="filterObject.payoutType" data-ng-change="changeInPayoutType()">
                <md-radio-button id="radio_1361" value=1 data-ng-class="{'payout-select':filterObject.payoutType==1}">At Regular
                    Interval
                </md-radio-button>
                <md-radio-button id="radio_1362" value=2 data-ng-class="{'payout-select':filterObject.payoutType==2}"> One Time, At
                    maturity
                </md-radio-button>
                <md-radio-button id="radio_1363" value=3 data-ng-class="{'payout-select':filterObject.payoutType==3}">Any of the above
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>

</div>
<div class="quote-filter">
    <div class="filter-change change-fund" ng-if="!isOnlyTraditional">
        <md-input-container>
            <label class="mobile-hide" data-ng-if="!isOnlyTraditional">Change Fund</label>

            <div class="inv-goal">
                <md-select ng-model="filterObject.toolId" aria-label="Investment Goal"
                           data-ng-change="changeInToolId()" ng-disabled="isOnlyTraditional">
                    <md-option value=0>Traditional</md-option>
                    <md-option ng-if="!isOnlyTraditional" value=2>Debt/Government Securities</md-option>
                    <md-option ng-if="!isOnlyTraditional" value=4>Equity/Market Linked</md-option>
                </md-select>
                <select class="mob-select" ng-model="filterObject.toolId" aria-label="Investment Goal"
                        data-ng-change="changeInToolId()" ng-options="item.id as item.name for item in items">
                </select>
            </div>
            <div class="modal-link" data-ng-if="!isOnlyTraditional">
                <a data-ng-click = "showModalPanel()" id="lnkCompareFDMF" class="link-modal">Compare with FD & MFs</a>
            </div>
        </md-input-container>

    </div>
    
    <div class="filter-change" >
		<span class="mob-show mob-feature" data-ng-if="filterObject.toolId!=0">Features</span>

    </div>
    <div class="filter-change filter-outer" >
        <div class="filter-return">
            <md-input-container>
                <label class="mobile-hide">Sort By:</label>

                <div class="inv-goal">
                    <md-select id="select_label_1353" ng-model="filterObject.filterId" aria-label="Filters" data-ng-change="changeSortArray()">
                        <md-option value=1>Returns</md-option>
                        <md-option value=3 ng-disabled="!isAnyFeatureSelected" data-ng-if="filterObject.toolId!=0">Features</md-option>
                    </md-select>
                    <select class="mob-select"  aria-label="Fitlers" ng-model="filterObject.filterId"
                            data-ng-change="changeSortArray()" ng-options="sortitem.id as sortitem.name for sortitem in sortItems">
                    </select>
                </div>
            </md-input-container>
        </div>
    </div>
    </div>
    <div class="clear"></div>
    <div class="pln-type">
      <div class="filter-change">
         <span class="hist-data" data-ng-if="filterObject.toolId!=0">           
        <md-radio-group ng-model="filterObject.prediction" data-ng-change="changePrediction(filterObject.prediction)">
            <md-radio-button class="pred" value=1 data-ng-disabled="filterObject.toolId==0"
                             data-ng-class={'pred-disable':filterObject.toolId==0}>Historical Data
            </md-radio-button>
            <md-radio-button class="pred future-prd" value=2>Future Prediction</md-radio-button>
        </md-radio-group>
            <!--  <select  class="mob-select" aria-label="Fitlers" ng-model="filterObject.prediction"
                      data-ng-change="changePrediction(filterObject.prediction)" >ng-options="predItem.id as predItem.name for predItem in predItems"
                 <option value="1" data-ng-disabled="filterObject.toolId==0">Historical Data</option>
                 <option value='2'>Future prediction</option>
             </select> -->
        </span>
        <span class="hist-data history-data" ng-if="filterObject.toolId==0" >
        <md-radio-group ng-model="filterObject.toolId" >
            <md-radio-button class="pred future-prd future-prod"  value=0>Guaranteed Plans</md-radio-button>
            </md-radio-group>
        </span>

    </div>
    </div>

    
</div>

<div class="featurebox-modal">
<div class="top-modal"><h3>Features</h3> <span class="done">Done</span></div>
<div class="bottom-modal"><div class="addon">
                    <ul>
                        <li class="addonrow" ng-repeat="filter in planFilters"
                            data-ng-if="!(hideObject.viewMore && $index>=5)"
                            data-ng-class="{'add-on-animate':!(hideObject.viewMore && $index>=5)}">
                            <md-checkbox ng-model="filter.checked" aria-label="Checkbox 1"
                                         data-ng-change="applyFeatures()">
                                {{filter.fullName}}
                            </md-checkbox>
                        </li>
                    </ul>
                </div></div>
</div>