﻿<div class="page-outer" id="paytm-page">
    <div class="prequote">
        <div class="layout">
            <div data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}">
                <div class="data-fill">
                    <div class="step" data-ng-if="showStep !== 'smsOTP'" >
                        <ul>
                            <li><a ng-class={'active':showStep=='enquiry'}>Investment details</a></li>
                            <li><a ng-class={'active':showStep=='customer'}>Personal details</a></li>
                        </ul>
                    </div>
                    <div data-ng-if="planSelected" class="selected-plan-anim" ng-show="showStep=='enquiry'">
                        <form novalidate ng-submit="createEnquiry(searchForm.$valid,searchForm)" name="searchForm">
                        <ul class="user-info paytm-info">
                            <li>
                                <label class="label-size">
                                    Date Of Birth</label>
                                <span class="paytm-dob">
                                    <md-input-container class="dd-format">
                                    <md-select name="dobDate" data-ng-model="data.dobDate" placeholder="DD"
                                        data-ng-change="changeDate(data.dobDate)">
                                        <md-option value="{{$index + 1}}" ng-selected="($index + 1) == data.dobDate"
                                        data-ng-repeat="item in dob.date">
                                        {{item}}</md-option>
                                    </md-select>
                                </md-input-container>
                                    <md-input-container class="dd-format">
                                    <md-select name="dobMonth" data-ng-model="data.dobMonth" placeholder="MM"
                                        data-ng-change="changeMonth(data.dobMonth)">
                                        <md-option value="{{$index + 1}}"  ng-selected="($index + 1) == data.dobMonth"
                                        data-ng-repeat="item in dob.month">
                                        {{item}}</md-option>
                                    </md-select>
                                </md-input-container>
                                    <md-input-container>
                                    <md-select name="dobYear" data-ng-model="data.dobYear" placeholder="YYYY"
                                        data-ng-change="changeYear(data.dobYear)">
                                        <md-option value="{{item}}" ng-selected="isYearSelected($index, data.dobYear)"
                                        data-ng-repeat="item in dob.year">
                                        {{item}}</md-option>
                                    </md-select>    
                                </md-input-container>
                                    <div ng-messages="searchForm.dob.$error">
                                        <div data-ng-class="{'fadeIn':isDOBMissing(),
                                'fadeOut':!isDOBMissing()}" data-ng-show="searchForm.$submitted && isDOBMissing()" class="error-messaqe">
                                            Please enter your dob.</div>
                                        <div ng-show="!isDOBMissing() && !isValidDateOfBirth()" data-ng-class="{'fadeIn': !isDOBMissing() && !isValidDateOfBirth(),
                                        'fadeOut':!(!isDOBMissing() && !isValidDateOfBirth())}" class="error-messaqe">
                                            Please enter your valid dob.</div>
                                        <div ng-show="(searchForm.$submitted || focus) && details.yourAge<18 && index!==2"
                                            class="error-messaqe">
                                            You should be 18 years or above
                                        </div>
                                        <div ng-show="(searchForm.$submitted || focus) && index===2 && details.yourAge<20"
                                            class="error-messaqe">
                                            You should be 20 years or above
                                        </div>
                                        <div ng-show="index===3  && (searchForm.$submitted || focus) && details.yourAge>=18&& details.yourAge-details.age<18"
                                            class="error-messaqe">
                                            Diff between your and child age should be greater than 18
                                        </div>
                                        <div ng-show="(searchForm.$submitted || focus) && details.yourAge>60" class="error-messaqe">
                                            Your age should be 60 years or less
                                        </div>
                                        <div ng-show="index===2 && (searchForm.$submitted || focus) && details.yourAge<=65 && details.yourAge>=20 && details.yourAge>details.age"
                                            class="error-messaqe">
                                            Your age cannot be greater than retirement age
                                        </div>
                                    </div>
                                </span></li>
                            <li>
                                <label>
                                    Gender
                                </label>
                                <span>
                                <md-content layout-padding class="title-case">
                            <md-input-container class="gender-set">                               
                                <md-radio-group ng-model="details.gender" name="gender" required>
                                    <md-radio-button value=1 class="md-primary pred">Male</md-radio-button>
                                    <md-radio-button value=2 class="md-primary pred pred-right">Female</md-radio-button>
                                </md-radio-group>
                                <div ng-show="searchForm.$submitted && searchForm.gender.$error.required"
                                     ng-messages="searchForm.gender.$error" class="error-messaqe">
                                    <div > You missed this</div>
                                </div>
                            </md-input-container>                            
                        </md-content>
                    </span>
                            </li>
                        </ul>
                        <ul class="user-info paytm-info">
                            <li>
                                <label>
                                    Annual Income</label>
                                <span>
                                    <input type="number" name="annual" only-num ng-model="details.annual"  min="{{annualMin}}"  max="{{annualMax}}"
                                       placeholder="Please enter your Annual Income" step="100000" ng-blur="trueThat('annual');checkIfAnnualIncomeIsCorrect(searchForm.annual.$error)"
                                        required />
                                </span>
                                <div ng-messages="searchForm.annual.$error" ng-show="(blurObject.annualBlurOut || searchForm.$submitted)&& hideObject.annualErrorMessageHide"
                                    class="error-messaqe">
                                    <div ng-message="required">
                                        Enter annual income.</div>
                                    <div ng-message="max">
                                        Value cannot be more than {{annualMax|addCommas}}.</div>
                                    <div ng-message="min">
                                        Value cannot be less than {{annualMin|addCommas}}.</div>
                                    <!--<div ng-message="step">Value has to be in the multiples of 1000.</div>-->
                                </div>
                                <div data-ng-show="!hideObject.annualErrorMessageHide && blurObject.annualBlurOut" class="error-messaqe">
                                    Enter annual income between {{annualMin|addCommas}} and {{annualMax|addCommas}}</div>
                                  <p ng-show="!hideObject.annualErrorMessageHideForStep"
                                    class="error-messaqe">
                                    Value has to be in the multiples of 1,00,000.</p>
                            </li>
                            <li>
                                <md-input-container class="city-code">
                                <div class="auto-compelte"
                                ng-class="{'md-input-success':!searchForm.cityDetails.$invalid && blurObject.cityBlurOut,'md-input-error':searchForm.cityDetails.$invalid && blurObject.cityBlurOut}">
                                <md-autocomplete ng-required=true 
                                    md-input-name=cityDetails  
                                    md-input-id="textCity"    
                                    ng-disabled=false
                                    md-no-cache=true                              
                                    md-selected-item="selectedCityItem"
                                    md-search-text-change="searchCityTextChange(citySearchText)"
                                    md-search-text="citySearchText"
                                    md-selected-item-change="selectedCityItemChange(cityItem)"
                                    md-items="cityItem in city | filter: {display: citySearchText}"
                                    md-item-text="cityItem.value || 'Enter the City that you reside in'"
                                    md-min-length="2"
                                    md-autoselect=true
                                    md-autofocus="false"                                                                 
                                    md-floating-label="City">
                                <md-item-template>
                                <span md-highlight-text="citySearchText" md-highlight-flags="^i">
                                {{cityItem.display}}
                                </span>
                                </md-item-template>
                                <md-not-found>
                                No matches found for "{{citySearchText}}".
                                </md-not-found>
                                </md-autocomplete>                               
                                <div class="error-messaqe" ng-show="errorPresent">
                                <div class="message-outside">{{cityErrorMessage}}</div>
                                </div>                              
                                </div>
                                <!-- </md-input-container>-->
                            </li>
                        </ul>
                        <ul class="user-info paytm-info">
                            <li>
                                <label>
                                    {{firstText}}</label>
                                <span>
                                    <input type="number" id="txtInvestment" name="investment" only-num ng-model="details.investment" min="{{investMin}}" max="{{investMax}}" 
                                      placeholder="{{firstTextHolder}}"  step="{{investmentStep}}" ng-change="checkForTermError(details.age)" 
                                        ng-blur="trueThat('investment');checkIfInvestmentAmountIsCorrect(searchForm.investment.$error)" required>
                                </span>
                                <div ng-messages="searchForm.investment.$error" ng-show="(blurObject.investmentBlurOut || searchForm.$submitted)&& hideObject.investmentErrorMessageHide"
                                    class="error-messaqe">
                                    <div ng-message="required">
                                        Enter investment amount.</div>
                                    <div ng-message="max">
                                        Value cannot be more than {{investMax|addCommas}}.</div>
                                    <div ng-message="min">
                                        Value cannot be less than {{investMin|addCommas}}.</div>
                                    <!--<div ng-message="step">Value has to be in the multiples of 1000.</div>-->
                                </div>
                                <p ng-show="!hideObject.investmentErrorMessageHideForStep" class="error-messaqe">
                                    Value has to be in the multiples of {{investmentStep|addCommas}}.</p>
                                <div data-ng-show="(!hideObject.investmentErrorMessageHide && blurObject.investmentBlurOut)"
                                    class="error-messaqe">
                                   Enter investment amount between {{investMin|addCommas}} and {{investMax|addCommas}}</div>
                            </li>
                            <li>
                                <label data-ng-if="index!==1">
                                    {{nameOfAge}}
                                </label>
                                <span data-ng-if="index!==1">
                                    <input type="text" ng-class="{'error':(searchForm.$submitted || focusObj.termFocus) && (isTermError||searchForm.age.$error.required)}" placeholder="{{nameOfAgeHolder}}"
                                        name="age" maxlength="2" ng-model="details.age" ng-change="checkForTermError(details.age,searchForm.age.$error.required)"
                                        ng-blur="changeInTerm(details.age,searchForm.your.$error.required);focusObj.termFocus=true"
                                        only-num required />
                                </span>
                                <label ng-if="index===1">
                                    Pay Term</label>
                                <span class="paytm-term" ng-if="index===1">
                                    <md-select name="age" placeholder="{{nameOfAgeHolder}}" ng-model="details.age" required  data-ng-change="changeInGrowthTerm(searchForm.your.$error.required)">
                                   <md-option ng-repeat="age in ages"  ng-value="age">{{age}}</md-option>
                                </md-select>
                                </span>
                             <div data-ng-if="index===1" ng-show="(searchForm.$submitted || focusObj.termFocus) && ((searchForm.age.$error.required))" class="error-messaqe">
                                   Please select pay term                                
                                </div>
                                <div data-ng-if="index!==1" ng-show="(searchForm.$submitted || focusObj.termFocus) && ((searchForm.age.$error.required))"
                                    class="error-messaqe">
                                   <em ng-show="index===2">Enter retirement age</em>
                                   <em ng-show="index==3">Enter child's age</em>
                                </div>
                                <div ng-show="index===2 && (searchForm.$submitted || focusObj.termFocus) && (details.age>80 || details.age<50)"
                                    class="error-messaqe">
                                    Retirement Age should be between 50 and 80
                                </div>
                                <div ng-show="index===2  && (searchForm.$submitted || focusObj.termFocus) && details.age<=80 && details.age>=50 && details.yourAge>=20 && details.yourAge<66 && details.age-details.yourAge<10"
                                    class="error-messaqe">
                                    Difference between retirement age and your age cannot be less than 10
                                </div>
                                <div ng-show="index===3  && (searchForm.$submitted || focusObj.termFocus) && details.age>17"
                                    class="error-messaqe">
                                    Child age has to be less than 18
                                </div>
                            </li>
                        </ul>
                        <div class="progressbar">
                            <md-button class="lightgreen-button" ng-class="{'please-wait':customerProceed,'disable':projectForm.$invalid}"
                                ng-click="searchForm.$submitted=true">Next
                             <em>
                                <md-progress-circular md-mode="indeterminate" md-diameter="20" data-ng-show="customerProceed">
                                </md-progress-circular>
                             </em>
                        </md-button>
                        </div>
                        </form>
                    </div>
                    <div id="divCust" ng-show="showStep == 'customer'">
                        <form novalidate name="custForm">
                        <div id="divCustInfo" ng-show="showStep == 'customer'" style="padding-top: 20px;">
                            <ul class="user-info paytm-info">
                                <li>
                                    <label>
                                        Your Full Name</label>
                                    <span>
                                        <input class="your-full-input" required name="description" maxlength="40" ng-model="details.CustomerName"
                                        placeholder="Please enter your name"    ng-pattern="/[a-zA-Z\s]$/" ng-blur="trueThat('customer')" type="text">
                                        <div class="error-messaqe" ng-messages="custForm.description.$error" ng-show="blurObject.customerNameBlurOut || custForm.$submitted">
                                            <div ng-message="required">
                                                Enter Your Name.</div>
                                            <div ng-message="pattern">
                                                Enter only alphabets.</div>
                                        </div>
                                    </span></li>
                                <li>
                                    <label>
                                        Email Address</label>
                                    <input type="email" required name="emailAdd" maxlength="60" ng-model="details.Email"
                                        placeholder="Please enter your email address"   ng-blur="trueThat('email')" ng-pattern="/[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?/">
                                    <div class="error-messaqe" ng-messages="custForm.emailAdd.$error" ng-show="blurObject.emailBlurOut || custForm.$submitted">
                                        <div ng-message="required">
                                            Enter Email Id.</div>
                                        <div ng-message="pattern">
                                            Enter Valid Email Id.</div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="user-info paytm-info">
                                <li>
                                    <label class="c-code">
                                        Mobile Number</label>
                                    <span >
                                        <input type="tel" name="rate" only-num ng-model="details.MobileNo" 
                                         placeholder="Please enter your mobile no."   maxlength="{{maxNum}}"
                                            minlength="{{minNum}}" ng-blur="trueThat('mobile')" required>
                                            <div>
                                        One time password will be sent on your mobile number for verification.
                                        </div>
                                        <div ng-messages="custForm.rate.$error" ng-show="(blurObject.mobileBlurOut || custForm.$submitted)&&!errorMessageHide"
                                            class="error-messaqe">
                                            <div ng-message="required">
                                                Enter your mobile number.</div>
                                            <div ng-message="maxlength">
                                                Enter valid mobile number.</div>
                                            <div ng-message="minlength">
                                                Enter valid mobile number.</div>
                                        </div>
                                        
                                    </span></li>
                                <li></li>
                            </ul>                          
                        </div>
                         
                        <div class="progressbar">
                            <md-button id="btnBack2" class="lightgrey-button" ng-class="{'please-wait':customerProceed,'disable':projectForm.$invalid}"
                                ng-click="showStep = 'enquiry'; stepNo = 1;">Back
                             <em>
                                <md-progress-circular md-mode="indeterminate" md-diameter="20" data-ng-show="customerProceed">
                                </md-progress-circular>
                             </em>
                        </md-button>
                            <md-button class="lightgreen-button" ng-class="{'please-wait':customerProceed,'disable':projectForm.$invalid}"
                                ng-click="ShowMobileVerification(custForm.$valid,custForm);">Next
                             <em>
                                <md-progress-circular md-mode="indeterminate" md-diameter="20" data-ng-show="customerProceed">
                                </md-progress-circular>
                             </em>
                        </md-button>
                        </div>
                        </form>
                    </div>
                    <div id="divMobile" ng-show="showStep == 'smsOTP'">
                        <div class="content-part">
                            <h3>
                                Please verify your Mobile Number</h3>
                            <p>
                                You will receive a 4-digit OTP.<br> Please enter the OTP and click on <strong>Get Quotes </strong> to proceed ahead.</p>
                        </div>
                        <form novalidate name="mobileForm">
                        <ul class="user-info paytm-info">
                            <li>
                                <label class="c-code">
                                    Mobile Number</label>
                                <span class="number-field">
                                    <md-select name="countrycode" required placeholder="Country Code" ng-disabled="true"
                                        ng-model="details.CountryID" data-ng-change="changeMaxLength(details.CountryID);trueThat('country')">
                                                <md-option ng-repeat="code in countryCodes | orderBy:'CountryName'"
                                                           ng-value="code.CountryCodeId">{{code.CountryName}} - {{code.CountryCode}}
                                                </md-option>
                                            </md-select>
                                    <input type="input" name="orgMobile" ng-model="details.MobileNo_New" only-num maxlength="{{maxNum}}"
                                        minlength="{{minNum}}" ng-blur="ResendOTPValidMobile();" ng-required="false"
                                        ng-disabled="Mobile_New_Disable" ng-maxlength="false" ng-minlength="false">
                                    <a href="javascript:void(0);" ng-show="Mobile_New_Disable" ng-click="Mobile_New_Disable = false;">
                                        Edit</a> <a href="javascript:void(0);" ng-show="!Mobile_New_Disable" ng-click="ResendOTP();">
                                            Done</a>
                                    <div ng-show="!IsResendOTPValid" class="error-messaqe">
                                        <div>
                                            {{ResendOTPError}}</div>
                                    </div>
                                </span></li>
                                <li>
                                <label class="c-code">
                                    One Time Password</label>
                                <span>
                                    <input type="text" name="OTP" ng-disabled="!Mobile_New_Disable" only-num ng-model="details.OTP" maxlength="4" required>                                    
                                    <div ng-messages="mobileForm.OTP.$error" ng-show="mobileForm.$submitted && (!Mobile_New_Disable)" class="error-messaqe">
                                        <div ng-message="required">
                                            Enter One time password.</div>
                                    </div>
                                </span></li>
                        </ul>
                       
                        <div class="progressbar">
                            <a href="javascript:void(0);" ng-click="ResendOTP('resend');" ng-disabled="!Mobile_New_Disable" class="resend-otp">Resend OTP</a>

                            <md-button class="lightgreen-button" ng-class="{'please-wait':customerProceed,'disable':mobileForm.$invalid}"
                             ng-disabled="!Mobile_New_Disable"  ng-click="VerifyOtpAndGo(mobileForm);">Get Quotes 
                             <em>
                                <md-progress-circular md-mode="indeterminate" md-diameter="20" data-ng-show="customerProceed">
                                </md-progress-circular>
                             </em>
                        </md-button>
                        </div>
                        <div data-ng-if="!isSMSVerified" class="sms-verified">
                           OTP is not verified ...
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><style type="text/css">
    .paytm-frame .page{min-height: 200px}
</style>
</div> 