
<div class="layout" >
    
    <div class="layout-customer">
        <div class="box-layout"
             data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}">


            <form ng-submit="populateCustomerDetails(projectForm.$valid,projectForm)" name="projectForm" novalidate>
                <span></span>

                <div class="cus-table">
                    <div class="cus-row">
                        <md-content layout-padding class="title-case">

                            <md-input-container class="gender-set">
                                <h3>Title </h3>
                                <md-radio-group ng-model="customerEntity.gender" name="gender" required>
                                    <md-radio-button value=1 class="md-primary pred">Mr.</md-radio-button>
                                    <md-radio-button value=2 class="md-primary pred pred-right">Ms.</md-radio-button>
                                </md-radio-group>
                                <div ng-show="submitted && projectForm.gender.$error.required"
                                     ng-messages="projectForm.gender.$error" class="error-messaqe">
                                    <div ng-message="required"> You missed this</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="full-name"
                                                ng-class="{'md-input-success':!projectForm.description.$invalid && blurObject.customerNameBlurOut,'md-input-error':projectForm.description.$invalid && blurObject.customerNameBlurOut}">
                                <label>Your Full Name</label>
                                <input required name="description" maxlength="40" ng-model="customerEntity.CustomerName"
                                       ng-pattern="/[a-zA-Z\s]$/" ng-blur="trueThat('customer')">

                                <div class="error-messaqe" ng-messages="projectForm.description.$error"
                                     ng-show="blurObject.customerNameBlurOut || submitted">
                                    <div ng-message="required">Enter Your Name.</div>
                                    <div ng-message="pattern">Enter only alphabets.</div>
                                </div>
                            </md-input-container>
                        </md-content>

                    </div>

                    <div class="cus-row row-space">
                        <md-input-container
                                ng-class="{'md-input-success':!projectForm.emailAdd.$invalid && blurObject.emailBlurOut ,'md-input-error':projectForm.emailAdd.$invalid && blurObject.emailBlurOut}">
                            <label>Email Address</label>
                            <input type="email" required name="emailAdd" maxlength="60" ng-model="customerEntity.Email"
                                   ng-blur="trueThat('email')"
                                   ng-pattern="/[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?/">

                            <div class="error-messaqe" ng-messages="projectForm.emailAdd.$error"
                                 ng-show="blurObject.emailBlurOut || submitted">
                                <div ng-message="required">Enter Email Id.</div>
                                <div ng-message="pattern">Enter Valid Email Id.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="cus-row number-field">
                        <md-input-container class="city-code">
                            <div class="auto-compelte"
                                 ng-class="{'md-input-success':!projectForm.cityDetails.$invalid && blurObject.cityBlurOut,'md-input-error':projectForm.cityDetails.$invalid && blurObject.cityBlurOut}">
                                <md-autocomplete ng-required=true
                                                 md-input-name="cityDetails"
                                                 ng-disabled=false
                                                 md-no-cache=true
                                                 md-selected-item="selectedCityItem"
                                                 md-search-text-change="searchCityTextChange(citySearchText)"
                                                 md-search-text="citySearchText"
                                                 md-selected-item-change="selectedCityItemChange(cityItem)"
                                                 md-items="cityItem in city | filter: {display: citySearchText}"
                                                 md-item-text="cityItem.value"
                                                 md-min-length="2"
                                                 md-autoselect=true
                                                 md-autofocus="false"
                                                 md-floating-label="City">
                                    <md-item-template>
                                            <span md-highlight-text="citySearchText" md-highlight-flags="^i">
                                             {{cityItem.display}}
                                            </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No matches found for "{{citySearchText}}".
                                    </md-not-found>
                                </md-autocomplete>
                                <div ng-show="!errorPresent && ((blurObject.cityBlurOut || submitted) && (projectForm.cityDetails.$error.required||citySearchText.length===0))"
                                     class="error-messaqe">
                                    <div class="message-outside">Enter city name</div>
                                </div>
                                <div class="error-messaqe" ng-show="errorPresent">
                                    <div class="message-outside">{{cityErrorMessage}}</div>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="country-code"
                                            ng-class="{'md-input-success':!projectForm.countrycode.$invalid && blurObject.countryBlurOut,'md-input-error':projectForm.countrycode.$invalid && blurObject.countryBlurOut}">

                            <h3 class="c-code">Country code</h3>

                            <div class="clear"></div>
                            <md-select name="countrycode" required placeholder="Country Code" data-ng-disabled="true"
                                       ng-model="customerEntity.CountryID"
                                       data-ng-change="changeMaxLength(customerEntity.CountryID);trueThat('country')">
                                <md-option ng-repeat="code in countryCodes | orderBy:'CountryName'"
                                           ng-value="code.CountryCodeId">{{code.CountryName}} - {{code.CountryCode}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="mob-number"
                                            ng-class="{'md-input-success':!projectForm.rate.$invalid && blurObject.mobileBlurOut,'md-input-error':projectForm.rate.$invalid && blurObject.mobileBlurOut}">
                            <label>Mobile Number</label>
                            <input type="tel" name="rate" only-num ng-model="customerEntity.MobileNo"
                                   maxlength="{{10}}" minlength="{{10}}" ng-blur="trueThat('mobile')" required>

                            <div ng-messages="projectForm.rate.$error"
                                 ng-show="(blurObject.mobileBlurOut || submitted)&&!errorMessageHide"
                                 class="error-messaqe">
                            <div ng-message="required">Enter your mobile number.</div>
                                <div ng-message="maxlength">Enter valid mobile number.</div>
                                <div ng-message="minlength">Enter valid mobile number.</div>
                            </div>
                            <div data-ng-show="errorMessageHide" class="error-messaqe">Enter valid mobile number</div>
                        </md-input-container>
                        <div class="error-messaqe" ng-messages="projectForm.countrycode.$error"
                             ng-if="blurObject.countryBlurOut || submitted">
                            <div ng-message="required">Select Country Code</div>
                        </div>

                        </div>
                        <md-input-container class="mob-number"
                                            ng-class="{'md-input-success':!projectForm.investment.$invalid && blurObject.investmentBlurOut,'md-input-error':projectForm.investment.$invalid && blurObject.investmentBlurOut}">
                            <label>Investment premium</label>
                            <input type="tel" name="investment" only-num ng-model="customerEntity.investment"
                                   maxlength="{{6}}" minlength="{{5}}" ng-blur="trueThat('investment')" required>

                            <div ng-messages="projectForm.investment.$error"
                                 ng-show="(blurObject.investmentBlurOut || submitted)&&!errorMessageHide"
                                 class="error-messaqe">
                            <div ng-message="required">Enter valid Investment Premium.</div>
                                <div ng-message="maxlength">Enter valid Investment Premium.</div>
                                <div ng-message="minlength">Enter valid Investment Premium.</div>
                            </div>
                            <div data-ng-show="premiumErrorMessageHide" class="error-messaqe">Enter valid Investment Premium</div>
                        </md-input-container>
                        </div>
                        <md-input-container class="mob-number"
                                            ng-class="{'md-input-success':!projectForm.annual.$invalid && blurObject.annualBlurOut,'md-input-error':projectForm.annual.$invalid && blurObject.annualBlurOut}">
                            <label>Annual Income</label>
                            <input type="tel" name="annual" only-num ng-model="customerEntity.annual"
                                   maxlength="{{7}}" minlength="{{6}}" ng-blur="trueThat('annual')" required>

                            <div ng-messages="projectForm.annual.$error"
                                 ng-show="(blurObject.annualBlurOut || submitted)&&!errorMessageHide"
                                 class="error-messaqe">
                            <div ng-message="required">Enter Annual Income.</div>
                                <div ng-message="maxlength">Enter valid Annual Income.</div>
                                <div ng-message="minlength">Enter valid Annual Income.</div>
                            </div>
                            <div data-ng-show="AnnualErrorMessageHide" class="error-messaqe">Enter valid Investment Premium</div>
                        </md-input-container>
                        </div>
                        <md-input-container class="mob-number"
                                            ng-class="{'md-input-success':!projectForm.polTerm.$invalid && blurObject.policyTermBlurOut,'md-input-error':projectForm.polTerm.$invalid && blurObject.policyTermBlurOut}">
                            <label>Policy Term</label>
                            <input type="tel" name="polTerm" only-num ng-model="customerEntity.polTerm"
                                   maxlength="{{2}}" minlength="{{1}}" ng-blur="trueThat('polTerm')" required>

                            <div ng-messages="projectForm.polTerm.$error"
                                 ng-show="(blurObject.policyTermBlurOut || submitted)&&!errorMessageHide"
                                 class="error-messaqe">
                            <div ng-message="required">Enter Policy Term.</div>
                                <div ng-message="maxlength">Enter valid Policy Term.</div>
                                <div ng-message="minlength">Enter valid Policy Term.</div>
                            </div>
                            <div data-ng-show="termErrorMessageHide" class="error-messaqe">Enter valid Policy Term</div>
                        </md-input-container>
                        </div>
                </div>

                <div class="cus-row button-outer">
                    <div class="button-set">
                     <div class="progressbar" >
                                <md-progress-circular class="md-hue-2" md-mode="indeterminate" md-diameter="20"
                                                      data-ng-show="customerProceed"></md-progress-circular>                        
                       
                        <md-button class="lightgreen-button"
                                   ng-class="{'please-wait':customerProceed,'disable':projectForm.$invalid}"
                                   ng-click="submitted=true" data-ng-show="!customerProceed">{{custFormSubmitName}}
                        </md-button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
