<div class="modal fade" id="viewModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body feature-modal">
                <div class="top-part quote-row">
                    <ul>
                        <li><img
                                ng-src="http://pbstatic.policybazaar.com/Investment/images/insurer-logo/{{viewPlanQuote.QuotePlan.InsurerID}}-new.gif"
                                alt="{{viewPlanQuote.QuotePlan.PlanInsurer.InsurerFullName}}">

                            <p>{{viewPlanQuote.QuotePlan.PlanName}}</p>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <h3 data-ng-if="filterObject.toolId!=4">
                                        Rs.{{viewPlanQuote.TotalReturn|amountConvertString}}
                                    </h3>

                                    <h3 data-ng-if="filterObject.toolId==4">
                                        Rs.{{viewPlanQuote.TotalReturnEquity|amountConvertString}}</h3>
                                </div>
                                <div class="percentage-bar"><span class="per-inset"
                                                                  ng-style="{width:viewPlanQuote.newWeightage+'%'}"
                                                                  ng-class="{'per0':viewPlanQuote.newWeightage<20 ,'per20':viewPlanQuote.newWeightage>=20&& viewPlanQuote.newWeightage<40 ,'per40':viewPlanQuote.newWeightage>=40&& viewPlanQuote.newWeightage<60 ,'per60':viewPlanQuote.newWeightage>=60&& viewPlanQuote.newWeightage<80 ,'per80':viewPlanQuote.newWeightage>=80&& viewPlanQuote.newWeightage<100 ,'per100':viewPlanQuote.newWeightage==100}">&nbsp;</span>
                                </div>
                            </div>
                        </li>
                        <li class="quate-colum">
                            <h2>Growth</h2>

                            <h3 data-ng-if="filterObject.toolId!=0">8% </h3>
                            <h3 data-ng-if="filterObject.toolId==0">{{viewPlanQuote.IRR}}%</h3>
                        </li>
                        <li class="quate-colum" data-ng-if="filterObject.toolId!=0">
                            <h2>Total Cost</h2>

                            <h3
                                    data-ng-if="filterObject.toolId==2">
                                {{viewPlanQuote.totalCost}}%</h3>

                            <h3 data-ng-if="filterObject.toolId==4">{{viewPlanQuote.totalCostEquity}}%</h3>
                            <!--<a href="#" class="link">View Details</a>-->
                        </li>
                        <!--<div class="feature-btn">
                            <md-button class="lightgreen-button" ng-click="directToPostQuotes(viewPlanQuote)"
                                    >Proceed
                            </md-button>
                        </div>-->
                        <li class="quote-button"><span class="inv-button"><button
                                class="md-raised md-primary lightgreen-button md-button md-default-theme"
                                 ng-click="directToPostQuotes(viewPlanQuote)" tabindex="0"
                                aria-disabled="false"><span class="ng-scope">Proceed</span>

                            <div class="md-ripple-container" style=""></div>
                        </button></span></li>
                        <li class="close-colum"><a class="pclose-icon2 close-btn" data-dismiss="modal"
                                                   aria-label="Close">&nbsp;</a></li>
                    </ul>
                </div>
                <div class="plan-brouchure">
                    <div>
                        <a ng-href="http://documents.policybazaar.com/documents/life-insurance/Information/{{viewPlanQuote.QuotePlan.ProductBrouchre}}"
                           target="_blank">Download brochure</a>
                        <a ng-href="{{generatedBIUrl}}"
                           target="_blank" data-ng-if="generatedBIUrl">Generate BI</a>
                    </div>
                </div>
                <div class="plan-feature" ng-class="{'murge-table':!Funds.length>0}">
                    <div class="pln-feature-left">
                        <div class="feature-box">
                            <h3>Features Available in this Plan</h3>
                            <ul class="list-arrow">
                                <li ng-repeat="ex in features"><strong>{{ex[1]}}</strong>

                                    <p data-ng-if="ex[2].length>2">{{ex[2]}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="feature-box" data-ng-if="exclusionObject.length>0">
                            <h3>Exclusions</h3>
                            <ul class="list-arrow">
                                <li ng-repeat="exclusion in exclusionObject"><strong>{{exclusion[1]}}</strong>

                                    <p data-ng-if="exclusion[2].length>2">{{exclusion[2]}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pln-feature-right" data-ng-if="Funds.length>0">
                        <div class="pln-right-table">
                            <ul class="table-head">
                                <li>Fund Name</li>
                                <li>1 Year</li>
                                <li>3 Year</li>
                                <li>5 Year</li>
                            </ul>
                            <ul ng-repeat="fund in Funds|orderBy: 'ThreeYrGrowth'">
                                <li class="right-head">{{fund.FundName}}</li>
                                <li>{{fund.OneYrGrowth }}<span ng-if="fund.OneYrGrowth>0">%</span><span
                                        ng-if="fund.OneYrGrowth<=0">N.A</span></li>
                                <li>{{fund.ThreeYrGrowth}}<span ng-if="fund.ThreeYrGrowth>0">%</span><span
                                        ng-if="fund.ThreeYrGrowth<=0">N.A</span></li>
                                <li>{{fund.FiveYrGrowth}}<span ng-if="fund.FiveYrGrowth>0">%</span><span
                                        ng-if="fund.FiveYrGrowth<=0">N.A</span></li>
                            </ul>

                        </div>

                        <div class="chart-head" ng-if="filterObject.toolId!==0 && filterObject.isChartLoaded">
                            <h3>{{heading}}</h3>
                            <div class="chart">
                            <gh-visualization map-value="mapObject" filt-object="filterObject"></gh-visualization>
                                </div>
                        </div>

                        <div class="feature-box">
                            <ul>
                                <li data-ng-if="PlanRiders.length>0">
                                    <h3>Riders</h3>

                                    <div class="rider-row" ng-repeat="riders in PlanRiders">
                                        <span><strong>{{riders.RiderName}}</strong></span>:

                                        <span>{{riders.RiderDescription}}</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

