<div class="page-outer" id="mobile-device">
	<div ng-if="isLandingPC" class="banner">
		<div class="banner-layout">
			<img ng-src="{{imageUrl}}"/>
		</div>
	</div>
	<div class="prequote">
		<div ng-if="isLandingPC && discountsAndPremium.length>0" class="left-side">
			<h4>Key Features</h4>
			<ul ng-repeat="val in discountsAndPremium">
				<li ng-bind-html="val.text"/>
			</ul>
		</div>
		<div class="layout">
			<div class="title" ng-if="!isHeadIFrame">
				<h2>Select a goal for your Investment</h2>

				<p class="center-align">Each investment plan comes with tax-saving benefits</p>
			</div>
			<div class="title" ng-if="isHeadIFrame">
				<h2>{{head.planHeading}}</h2>

			</div>
			<div data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}">
				<div class="plan-outer" ng-if="!isHeadIFrame">
					<ul>
						<li ng-repeat="plan in plans track by plan.name" class="plan-box"
								ng-class="{'growth-icon':plan.id===1,'retirment-icon':plan.id===2,'child-icon':plan.id===3,'selected-plan':plan.selected}"
								data-ng-click="isAnyPlanSelected(plan.id)">
							<span class="plan-type">{{plan.name}}</span>
						</li>
					</ul>
				</div>
				<div class="data-fill-outer">
					<div data-ng-if="planSelected" class="data-fill selected-plan-anim1">
						<form novalidate ng-submit="createEnquiry(searchForm.$valid,searchForm)" name="searchForm">
                        <div data-ng-show="hideObject.showModalPopUp" data-ng-if="isMobile"
                                             style="position:fixed;width:100%;z-index:1500; height: 100%;border-radius: 0;border-radius:5px; background-color:#FFF ; color:#000; top:0; left:0; padding:10px; ">
                                            <div class="autosuggest-overlay">
                                                <div class="head-city">
                                                    <p>Choose City <em data-ng-click="showPopUp(false)"><span>Close</span></em></p>
                                                    <!-- ng-model="input" -->
                                                    <div class="city-code">
                                                        <div class="auto-compelte"
                                                             ng-class="{'md-input-success':!searchForm.cityDetails.$invalid && blurObject.cityBlurOut,'md-input-error':searchForm.cityDetails.$invalid && blurObject.cityBlurOut}">
                                                            <md-autocomplete id="fl-input-1328" ng-required=true
                                                                             md-input-name="cityDetails"
                                                                             ng-disabled=cityChangesObj.isNRI
                                                                             md-no-cache=true
                                                                             md-selected-item="mainObj.selectedCityItem"
                                                                             md-search-text-change="searchCityTextChange(cityChangesObj.citySearchText)"
                                                                             md-search-text="cityChangesObj.citySearchText"
                                                                             md-selected-item-change="selectedCityItemChange(cityItem)"
                                                                             md-items="cityItem in city | searchCity: {value:city,search: cityChangesObj.citySearchText}"
                                                                             md-item-text="cityItem.value"
                                                                             md-min-length="cityChangesObj.minValue"
                                                                             md-autoselect=true
                                                                             md-autofocus="false"
                                                                             placeholder="City">
                                                                <md-item-template>
                                                            <span md-highlight-text="cityChangesObj.citySearchText"
                                                                  md-highlight-flags="^i">
                                                                {{cityItem.display}}
                                                            </span>
                                                                </md-item-template>
                                                                <md-not-found>
                                                                    <span class="error-messaqe"> Please enter correct city name</span>
                                                                </md-not-found>
                                                            </md-autocomplete>

                                                           <!--  <div ng-show="hideObject.errorPresent || ((blurObject.cityBlurOut || submitted) && (searchForm.cityDetails.$error.required||cityChangesObj.citySearchText.length===0))"
                                                                 class="error-messaqe">
                                                                <div class="message-outside">Enter city name</div>
                                                            </div> -->
                                                            <div class="error-messaqe" ng-show="hideObject.patternErrorPresent">
                                                            <div class="message-outside">Enter Only alphabets</div>
                                                        </div>                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <br /><p>You selected: {{country.name}}</p> -->
                                                <h2 class="wfull top-cities-heading">Top Cities</h2>
                                                <ul class="ui-listview" >
                                                    <li ng-repeat="city in popularCityList" data-ng-click="selectFromTopCities(city)">{{city.value}}</li>
                                                </ul>
                                            </div>
                                        </div>
							<div class="value-input" id="set-mobile">
								<ul class="user-info">
									<li>
										<span class="mob-icon y-age"
												ng-class="{'active-bg':(!isError || (index===2?details.yourAge>=20:details.yourAge>=18))}">
											<input type="tel" name="your" placeholder="Your Age" maxlength="2"
													ng-model="details.yourAge"
													ng-change="checkForError(details.yourAge,searchForm.your.$error.required)"
													ng-blur="changeInYourAge();focus=true;" only-num required/>
										</span>

										<div ng-show="(submitted || focus) && searchForm.your.$error.required"
												class="error-messaqe">Enter your age
										</div>
										<div ng-show="index===2 && details.age.length>1 && (submitted || focus) && details.yourAge<=65 && details.yourAge>=20 && details.yourAge>details.age"
												class="error-messaqe">Your age cannot be greater than retirement age
											</div>
											<div ng-show="index===3  && (submitted || focus) && details.yourAge>=18&& details.yourAge-details.age<18"
														class="error-messaqe">Diff between your and child age should be greater
													than 18
												</div>
												<div ng-show="(submitted || focus) && details.yourAge<18 && index!==2"
																class="error-messaqe">You should be 18 years or above
														</div>
														<div ng-show="(submitted || focus) && index===2 && details.yourAge<20"
																		class="error-messaqe">You should be 20 years or above
																</div>
																<div ng-show="(submitted || focus) && details.yourAge>60" class="error-messaqe">
																	Your
																	age
																	should be 60 years or less
																</div>
                                    </li>

                                    <li >
                                        <span class="mob-icon r-age" data-ng-if="index!==1"
                                                ng-class="{'active-bg':(submitted || focusObj.termFocus) && !searchForm.age.$error.required && !isTermError, 'icon-bg': index == 2,'child-icon': index == 3}">
                                            <input ng-class="{'error2':(submitted || focusObj.termFocus) && (isTermError||searchForm.age.$error.required)}"
                                                    type="tel" name="age" maxlength="2" ng-model="details.age" placeholder="{{nameOfAge}}"
                                                    ng-change="checkForTermError(details.age,searchForm.age.$error.required);changeInTerm(details.age,searchForm.your.$error.required);focusObj.termFocus=true"
                                                    ng-blur="changeInTerm(details.age,searchForm.your.$error.required);focusObj.termFocus=true"
                                                    only-num
                                                    required/>
                                        </span>
                                        <span class="pay-term mob-icon pay-icon" ng-if="index===1"
                                        	ng-class="{'active-bg': checkIfAgeIsCorrect()}">
                                                <div class="select-style" ng-class="{'active-bg': checkIfAgeIsCorrect()}">
                                                <select placeholder="No. of years you want to invest for" name="payterm"
                                                        ng-model="details.age"
                                                        data-ng-change="changeInGrowthTerm(searchForm.your.$error.required);">
                                                    <option ng-repeat="age in ages" ng-value="age">{{age}}</option>
                                                </select>
                                                <!-- <select placeholder="No. of years you want to invest for" name="payterm"
                                                        ng-model="details.age"
                                                        ng-options="age for age in ages"
                                                        data-ng-change="changeInGrowthTerm(searchForm.your.$error.required);">
                                                     <option value="" selected>No. of years you want to invest for</option>  
                                                </select> -->
                                                </div>
                                            <div data-ng-class="{'fadeIn':!isPayTermSelected(details.age),
                                                    'fadeOut':isPayTermSelected(details.age)}"
                                                    data-ng-show="(submitted|| focusObj.termFocus) && (!isPayTermSelected(details.age)||!checkIfAgeIsCorrect())"
                                                    class="error-messaqe">Please select a pay term.
                                            </div>
                                        </span>

                                        <!-- <div class="error-messaqe">
                                            <em
                                                    ng-show="(submitted || focus) && index===1 && details.age=='No. of years you want to invest for' && searchForm.payterm.$dirty">Select
                                                Pay Term</em>
                                        </div> -->
                                        <div ng-show="(submitted || focusObj.termFocus) && ((searchForm.age.$error.required))"
                                                class="error-messaqe">
                                            <em
                                                    ng-show="index===2">Enter retirement age</em>
                                            <em ng-show="index==3">Enter
                                                child's age</em>
                                        </div>
                                        <div ng-show="index===2 && (submitted || focusObj.termFocus) && (details.age>80 || details.age<50)"
                                                    class="error-messaqe">Retirement Age should be between 50 and 80
                                            </div>
                                            <div ng-show="index===2  && (submitted || focusObj.termFocus) && details.age<=80 && details.age>=50 && details.yourAge>=20 && details.yourAge<66 && details.age-details.yourAge<10"
                                                                        class="error-messaqe">Difference between retirement age and your age cannot
                                                                    be
                                                                    less than 10
                                                                </div>
                                                                <div ng-show="index===3  && (submitted || focusObj.termFocus) && details.age>17"
                                                                    class="error-messaqe">Child age has to be less than 18
                                                                </div>
                                    </li>


                                    <li>
                                        <span class="user-input pension-month mob-icon"
                                                ng-class="{'active-bg': hideObject.investmentErrorMessageHideForStep && hideObject.investmentErrorMessageHide}">
                                            <!--<input type="number" placeholder="{{firstText}}" class="num-add-comp2" name="investment" only-num ng-model="details.investment" data-ng-show="obj.amountFocusLost " ng-focus="obj.amountFocusLost=true"
   ng-keypress="checkForLengthExceed()" max={{investMax}} min={{investMin}} step=1000 ng-change="checkForTermError(details.age)" ng-blur="trueThat('investment');checkIfInvestmentAmountIsCorrect()" required>-->

                                            <only-num-add-commas name="invest" class="user-inputbox"
                                                    add-class="num-add-comp" det="details"
                                                    place-text="{{firstText}}"
                                                    change-values="checkForTermError(details.age)"
                                                    min-length="{{minlength}}"
                                                    max-length="{{maxlength}}"
                                                    get-focus-out="trueThat('investment');checkIfInvestmentAmountIsCorrect()"/>
                                            <div class="error-message"
                                                    data-ng-show="!obj.amountFocusLost&& isError">Investment amount
                                                should be between {{investMin}} and {{investMax}}
                                            </div>
                                            <!--<span class="comprare-input" data-ng-show="!obj.amountFocusLost" data-ng-click="bringFocusToInput()">{{(details.investment|addCommas)||firstText}}</span>-->

                                        </span>
                                        <!--<span class="comprare-input-amt" data-ng-if="obj.amountFocusLost && details.investment>0">{{details.investment|amountConvertString}}</span>-->


                                        <div ng-messages="searchForm.invest.$error"
                                                ng-show="(blurObject.investmentBlurOut || submitted)&&!hideObject.investmentErrorMessageHide"
                                                class="error-messaqe">
                                            <div ng-message="required">Enter investment amount.</div>
                                            <!--<div ng-message="max">Value cannot be more than {{investMax|addCommas}}.
                                            </div>
                                            <div ng-message="min">Value cannot be less than {{investMin|addCommas}}.
                                            </div>-->
                                        </div>
                                        <div ng-show="(blurObject.investmentBlurOut || submitted)&&!hideObject.investmentErrorMessageForNoValue"
                                                class="error-messaqe">
                                            <div>Enter investment amount.</div>
                                        </div>
                                        <div ng-show="!hideObject.investmentErrorMessageHideForStep"
                                                class="error-messaqe">Value has to be in the multiples of 1000.
                                        </div>

                                        <div data-ng-show="(!hideObject.investmentErrorMessageHide && blurObject.investmentBlurOut)"
                                                class="error-messaqe">{{hideObject.investmentErrorMessage}}
                                            {{investMin|addCommas}} and {{investMax|addCommas}}
                                        </div>

                                    </li>
                                    <li>
                                        <md-content layout-padding class="title-case">
                                            <span class="yfi mob-icon full-name" ng-class="{'active-bg':!searchForm.description.$invalid }">
                                                <input id="input_1324" class="your-full-input" required name="description" maxlength="40"
                                                        ng-model="details.CustomerName"
                                                        ng-pattern="/[a-zA-Z\s]$/" ng-blur="trueThat('customer')" placeholder="Full Name">
                                                    <div class="error-messaqe" ng-messages="searchForm.description.$error"
                                                            ng-show="blurObject.customerNameBlurOut || submitted">
                                                        <div ng-message="required">Enter Your Name.</div>
                                                        <div ng-message="pattern">Enter only alphabets.</div>
                                                    </div>
                                                </span>
                                        </md-content>
                                    </li>
                                    <li class="half-mobile" >
                                        <span class="colum-two mob-icon country-icon"
                                                ng-class="{'active-bg':!searchForm.countrycode.$invalid}">
                                            <!-- <md-input-container class="country-select"
                                                    ng-class="{'md-input-success':!searchForm.countrycode.$invalid && blurObject.countryBlurOut,'md-input-error':searchForm.countrycode.$invalid && blurObject.countryBlurOut}"> -->

                                                <div class="clear"/>
                                                <div class="select-style" 
                                                	ng-class="{'active-bg':!searchForm.countrycode.$invalid}">
                                                <select id="select_label_1321" placeholder="Country" name="countrycode"
                                                        ng-model="details.CountryID"
                                                        ng-options="code.CountryCodeId as code.CountryName for code in countryCodes"
                                                        data-ng-change="changeMaxLength(details.CountryID);trueThat('country');searchForCountryCode(details.CountryID,true)">
                                                    <!-- <option ng-repeat="code in countryCodes" ng-value="code.CountryCodeId">{{code.CountryName}}</option> -->
                                                </select>
                                                </div>
                                                <!-- <md-select name="countrycode" required placeholder="Country"
                                                        ng-model="details.CountryID"
                                                        data-ng-change="changeMaxLength(details.CountryID);trueThat('country');searchForCountryCode(details.CountryID,true)">
                                                    <md-option ng-repeat="code in countryCodes"
                                                            ng-value="code.CountryCodeId">{{code.CountryName}}
                                                    </md-option>
                                                </md-select> -->
                                            <!-- </md-input-container> -->
                                        </span>


                                    </li>
                                    <li class="half-mobile" data-ng-if="!isMobile" >
                                        <span class="colum-two mob-icon city-icon"
                                                ng-class="{'active-bg':!searchForm.cityDetails.$invalid && !hideObject.errorPresent}">
                                            <div class="city-code">
                                                <div class="auto-compelte"
                                                        ng-class="{'md-input-success':!searchForm.cityDetails.$invalid && blurObject.cityBlurOut,'md-input-error':searchForm.cityDetails.$invalid && blurObject.cityBlurOut}">
                                                    <md-autocomplete id="fl-input-1328" ng-required=true
                                                            md-input-name="cityDetails"
                                                            ng-disabled=cityChangesObj.isNRI
                                                            md-no-cache=true
                                                            md-selected-item="selectedCityItem"
                                                            md-search-text-change="searchCityTextChange(cityChangesObj.citySearchText)"
                                                            md-search-text="cityChangesObj.citySearchText"
                                                            md-selected-item-change="selectedCityItemChange(cityItem);"
                                                            md-items="cityItem in city | searchCity: {value:city,search: cityChangesObj.citySearchText}"
                                                            md-item-text="cityItem.value"
                                                            md-min-length="cityChangesObj.minValue"
                                                            md-autoselect=true
                                                            md-autofocus="false"
                                                            placeholder="City">
                                                        <md-item-template>
                                                            <span md-highlight-text="cityChangesObj.citySearchText"
                                                                    md-highlight-flags="^i">
                                                                {{cityItem.display}}
                                                            </span>
                                                        </md-item-template>
                                                        <md-not-found>
                                                            <span class="error-messaqe"> Please enter correct city name</span>
                                                        </md-not-found>
                                                    </md-autocomplete>
                                                    <!-- <div ng-show="hideObject.errorPresent || ((blurObject.cityBlurOut || submitted) && (searchForm.cityDetails.$error.required||cityChangesObj.citySearchText.length===0))"
                                                            class="error-messaqe">
                                                        <div class="message-outside">Enter city name</div>
                                                    </div> -->
                                                    <!--<div class="error-messaqe" ng-show="hideObject.errorPresent">
<div class="message-outside">{{cityErrorMessage}}</div>
</div>-->
                                                </div>
                                            </div>
                                        </span>
                                    </li>
                                    <li class="half-mobile" data-ng-if="isMobile" >
                                        <span class="colum-two mob-icon city-icon"
                                              ng-class="{'active-bg':!searchForm.cityDetails.$invalid && !hideObject.errorPresent}" data-ng-click="showPopUp(true)">
                                            <div class="city-code">
                                                <input type="text" placeholder="{{cityChangesObj.cityPlaceHolder}}" ng-model="cityChangesObj.citySearchText" ng-disabled="true">
                                            </div>
                                            <div class="message-outside error-messaqe" data-ng-show="submitted && isCityNameEntered()">Enter city name</div>
                                        </span>

                                        <!--<div class="modal modal-city" data-ng-show="hideObject.showModalPopUp">
                                            <div class="modal-dialog" >
                                                <div class="modal-content">
                                            <div class="city-code">
                                                <div class="auto-compelte"
                                                     ng-class="{'md-input-success':!searchForm.cityDetails.$invalid && blurObject.cityBlurOut,'md-input-error':searchForm.cityDetails.$invalid && blurObject.cityBlurOut}">
                                                    <md-autocomplete ng-required=true
                                                                     md-input-name="cityDetails"
                                                                     ng-disabled=cityChangesObj.isNRI
                                                                     md-no-cache=true
                                                                     md-selected-item="selectedCityItem"
                                                                     md-search-text-change="searchCityTextChange(cityChangesObj.citySearchText)"
                                                                     md-search-text="cityChangesObj.citySearchText"
                                                                     md-selected-item-change="selectedCityItemChange(cityItem);"
                                                                     md-items="cityItem in city | searchCity: {value:city,search: cityChangesObj.citySearchText}"
                                                                     md-item-text="cityItem.value"
                                                                     md-min-length="cityChangesObj.minValue"
                                                                     md-autoselect=true
                                                                     md-autofocus="false"
                                                                     placeholder="City">
                                                        <md-item-template>
                                                            <span md-highlight-text="cityChangesObj.citySearchText"
                                                                  md-highlight-flags="^i">
                                                                {{cityItem.display}}
                                                            </span>
                                                        </md-item-template>
                                                        <md-not-found>
                                                            <span class="error-messaqe"> Please enter correct city name</span>
                                                        </md-not-found>
                                                    </md-autocomplete>

                                                    &lt;!&ndash;<input class="form-control" type="text"
                                                           ng-model="name" placeholder=""
                                                           data-ng-change="selectedCityItemChange(selectedCityItem)"
                                                           typeahead="city" typeahead-callback="callback" />&ndash;&gt;
                                                    <div ng-show="hideObject.errorPresent || ((blurObject.cityBlurOut || submitted) && (searchForm.cityDetails.$error.required||cityChangesObj.citySearchText.length===0))"
                                                         class="error-messaqe">
                                                        <div class="message-outside">Enter city name</div>
                                                    </div>
                                                    &lt;!&ndash;<div class="error-messaqe" ng-show="hideObject.errorPresent">
<div class="message-outside">{{cityErrorMessage}}</div>
</div>&ndash;&gt;
                                                </div>
                                            </div>
                                            <ul ng-repeat="city in popularCityList">
                                            <li data-ng-click="selectedCityItemChange(city)">{{city.value}}</li>

                                                </ul>
                                                </div>
                                            </div>
                                        </div>-->

                                        
                                    </li>

                                    <li >
                                        <span class="email-id mob-icon"
                                                ng-class="{'active-bg':!searchForm.emailAdd.$invalid  ,'icon-bg':searchForm.emailAdd.$invalid }">

                                            <input id="input_1325" type="email" placeholder="Email ID" required name="emailAdd" maxlength="60"
                                                    ng-model="details.Email"
                                                    ng-blur="trueThat('email')"
                                                    ng-pattern="/[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?/">
                                                <div class="error-messaqe" ng-messages="searchForm.emailAdd.$error"
                                                        ng-show="blurObject.emailBlurOut || submitted">
                                                    <div ng-message="required">Enter Email Id.</div>
                                                    <div ng-message="pattern">Enter Valid Email Id.</div>
                                                </div>

                                            </span>
                                    </li>

                                    <li>
                                        <span class="country-code mobile-num mob-icon"
                                                ng-class="{'active-bg':!checkForMobile() && !searchForm.rate.$invalid}">

                                            <span class="number-field-opt">
                                                <div class="bind-country-code">
                                                    <input name="countryCode" required placeholder="eg 123"
                                                            ng-class="{'country-code-value':details.CountryID===999,'country-code-valuenot':details.CountryID!==999,'error':(submitted && searchForm.countryCode.$invalid)}"
                                                            type="tel" only-num maxlength="4" minlength="1"
                                                            ng-model="cityChangesObj.countryCode"
                                                            ng-blur="checkIfAvailableList(cityChangesObj.countryCode)"
                                                            ng-disabled="!cityChangesObj.isEditable"
                                                            aria-label="Country Code">
                                                    </div>

                                                </span>

                                                <input id="input_1330" type="tel" placeholder="Mobile Number" name="rate" only-num
                                                        ng-model="details.MobileNo"
                                                        maxlength="{{maxNum}}" minlength="{{minNum}}"
                                                        ng-blur="trueThat('mobile');checkForMobile()"
                                                        required>
                                                    <div class="error-messaqe new-error" ng-messages="searchForm.countryCode.$error"
                                                            ng-show="blurObject.countryBlurOut || submitted">
                                                        <div ng-message="required">ISD missing</div>
                                                    </div>
                                                    <div class="error-messaqe new-error"
                                                            ng-show="(blurObject.countryBlurOut || submitted) && !checkForCode() ">
                                                        Incorrect ISD code
                                                    </div>
                                                    <div ng-messages="searchForm.rate.$error"
                                                            ng-show="(blurObject.mobileBlurOut || submitted)&&!errorMessageHide"
                                                            class="error-messaqe some-error-mobile new-error">
                                                        <div ng-message="required">Enter your mobile number.</div>
                                                        <div ng-message="maxlength">Enter valid mobile number.</div>
                                                        <div ng-message="minlength">Enter valid mobile number.</div>
                                                    </div>
                                                    <div class="error-messaqe new-error"
                                                            ng-show="(blurObject.mobileBlurOut || submitted) && errorMessageHide">Enter valid
                                                        mobile
                                                        number.
                                                    </div>
                                        </span>
                                    </li>
                                    <li class="privacy-li">
                                   
                                     <span class="privacy privacy-landing">
                                <input name="privacy" ng-model="privacy" ng-checked="true" type="checkbox" required/> <span >I have read and agree to the <a href="http://www.policybazaar.com/privacy-policy/" target="_blank">Privacy Policy</a></span>
                                <div ng-messages="searchForm.privacy.$error"
                                        ng-show="searchForm.$submitted && searchForm.privacy.$invalid"
                                        class="error-messaqe">
                                        <div ng-message="required">Please select privacy policy</div>
                                    
                                </div>
                           
                            </span>
                                    </li>
                                </ul>
                            </div>
                            <br clear="all">
                           
                            <div class="progressbar">

                                <md-button class="md-raised md-primary lightgreen-button"
                                        ng-class="{'please-wait':loaderProceed,'disable':searchForm.$invalid||searchForm.investment.$invalid||isError ||isTermError|| !hideObject.investmentErrorMessageHide || !hideObject.investmentErrorMessageHideForStep ||errorMessageHide|| (index===1 && !checkIfAgeIsCorrect()) ||!checkForCode()}"
                                        ng-click="submitted=true" ng-disabled="loaderProceed">{{buttonName}}
                                    <em>
                                        <md-progress-circular md-mode="indeterminate" md-diameter="20"
                                                data-ng-show="loaderProceed"/>
                                    </em>
                                </md-button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
																	