<div data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}" id="quotepos">
    <ng-include src="'templates/quote-header.html'"></ng-include>
    <ng-include src="'templates/filter-section.html'"></ng-include>
    <ng-include src="'templates/quote-section.html'"></ng-include>
    <div ng-if='hideObject.loadcomparetools'><ng-include src="'templates/compare-tools.html'"></ng-include></div>
    <ng-include src="'templates/plan-detail.html'"></ng-include>
    <div class="overlay" data-ng-show="hideObject.showFeatureDetails"></div>
	<div id="divDropHdfcookieImp" ng-show=false ></div>  
	<div id="divDropHdfcookieClick" ng-show=false ></div>  
	<div class="call-me-fixed md-whiteframe-z1" data-ng-click="clickToCall()" data-ng-show="!hideAfterCall&&workingHrs" >
            <button type="button" ><em class="callback-icon"></em> <span>Call Me <em class="now">Now</em><!-- <em class="callback-corner"></em> --></span></button>    
        </div>
</div>
