<div class="top-header"><h1><a href="http://www.policybazaar.com"><img src="http://cdn.policybazaar.com/Investment/images/pblogo.png"></a></h1>

    <div class="header-right">
        <div class="top-button">
            <ul data-ng-if="!isLanding && !isMobile">
                <li class="email"><a data-ng-click="emailPlans()">Email Plans</a></li>
                <li class="call-back" data-ng-hide="hideAfterCall||!workingHrs"><a data-ng-click="clickToCall()">Call Back</a></li>
            </ul>
            <ul data-ng-if="isMobile">
                <li class="email"><a data-ng-click="emailPlans()">Email</a></li>
                <li class="chat" data-ng-show="chat.chatStarted"><a data-ng-click="chat()">Chat </a></li>
                <li class="call-back" data-ng-hide="hideAfterCall||!workingHrs"><a data-ng-click="clickToCall()">Call</a></li>
            </ul>
        </div>
        <h3>1800 102 7717
            <small>[24x7 Toll Free]</small>
        </h3>
    </div>
</div>