<div class="quote-section" data-ng-class="{'colum5':filterObject.prediction==1}" data-ng-show="list.length>0">
    <div class="filter-head" md-sticky>
        <div class="layout-quote">
            <ul>
                <li>Insurer & Plan</li>
                <li ng-if="filterObject.prediction==2 && filterObject.toolId!=0">Fund Growth @ 8%</li>
                <li ng-if="filterObject.prediction==2 && filterObject.toolId==0">Guaranteed Maturity Value</li>
                <li ng-if="filterObject.prediction==1">Had you invested {{details.payTerm}} years ago</li>
                <li class="tool-tip" data-ng-if="filterObject.prediction==2 && filterObject.toolId!=0">Growth Rate

                    <!--  <md-tooltip md-direction="top">
                    IRDA mandate of 8% growth
                     </md-tooltip> -->
                    <span >
                        <em class="arrow-left"></em>
                         Future projections can only be calculated at 8%, as per mandate by IRDAI.
                    </span>
                    
                </li>
                <li class="tool-tip" data-ng-if="filterObject.prediction==2 && filterObject.toolId==0">Growth Rate

                    <span >
                        <em class="arrow-left"></em>
                         Effective interest rate that you will get on your investment
                    </span>
                </li>
                <li class="tool-tip" data-ng-if="filterObject.prediction==1">Growth Rate
                 <span>
                    <em class="arrow-left" ></em>
                    Percentage by which amount invested has increased annually
                </span>
                </li>
                <li class="total-cost tool-tip" data-ng-if="filterObject.prediction==2">
                    Total<br> Cost
                <span>
                     <em class="arrow-left"></em>
                     This cost includes all deductions made by the insurer, on your investment(s) as well as returns.
                 </span>
                </li>
                <li data-ng-show="isAnyFeatureSelected" data-ng-if="filterObject.toolId!=0">Features</li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>

    <div data-ng-show="!disableObject.quotesShown" class="quote-loader">
    <div class="quote-loder-list">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    </div>

    <div class="layout-quote">
        <div class="quote-row" data-ng-show="hideQuotes && disableObject.quotesShown">
            <ul class="quote-animate" ng-repeat="quote in list | orderBy:filterArray track by $index"
                ng-show="list.length>0 && quote.isDisplay">
                <li>                    
                    <img ng-src="http://pbstatic.policybazaar.com/investment/images/{{quote.QuotePlan.InsurerID}}.jpg"
                         alt="{{quote.QuotePlan.PlanInsurer.InsurerFullName}}" class="pln-logo">

                    <p>{{quote.QuotePlan.PlanName}}</p>

                </li>                
                <li>
                    <div class="mobile-show" ng-if="filterObject.prediction==2"><span >Fund Growth @ 8%</span></div>
                    <div ng-hide="filterObject.prediction==1 && ((filterObject.toolId==2 && (quote.historicalReturns==null || quote.historicalReturns==undefined || quote.historicalReturns<=0 || quote.DebtFactorValue<0) ||
                 ( filterObject.toolId==4 && (quote.historicalReturnsEquity==null || quote.historicalReturnsEquity==undefined || quote.historicalReturnsEquity<=0 || quote.EquityFactorValue<0))))">
                        <div data-ng-if="filterObject.prediction==2"><h3 data-ng-if="filterObject.toolId!=4">
                            Rs.{{quote.TotalReturn|amountConvertString}}</h3>

                            <h3 data-ng-if="filterObject.toolId==4">
                                Rs.{{quote.TotalReturnEquity|amountConvertString}}</h3>
                        </div>
                        <div data-ng-if="filterObject.prediction==1"><h3 data-ng-if="filterObject.toolId!=4">
                            Rs.{{quote.historicalReturns|amountConvertString}}</h3>

                            <h3 data-ng-if="filterObject.toolId==4">
                                Rs.{{quote.historicalReturnsEquity|amountConvertString}}</h3>
                        </div>
                        <div class="percentage-bar"><span class="per-inset" ng-style="{width:quote.weightage+'%'}"
                                                          ng-class="{'per0':quote.weightage<20 ,'per20':quote.weightage>=20&& quote.weightage<40 ,'per40':quote.weightage>=40&& quote.weightage<60 ,'per60':quote.weightage>=60&& quote.weightage<80 ,'per80':quote.weightage>=80&& quote.weightage<100 ,'per100':quote.weightage==100}">&nbsp;</span>
                        </div>
                    </div>
                    <div ng-show="filterObject.prediction==1 && ((filterObject.toolId==2 && (quote.historicalReturns==null || quote.historicalReturns==undefined || quote.historicalReturns<=0 || quote.DebtFactorValue<0) ||
                 ( filterObject.toolId==4 && (quote.historicalReturnsEquity==null || quote.historicalReturnsEquity==undefined || quote.historicalReturnsEquity<=0 || quote.EquityFactorValue<0))))">
                        Historical data not available for this plan
                    </div>
                </li>
                <li class="quate-colum growth-rate" data-ng-if="filterObject.toolId!=0">
                    <div class="two-colum">                    
                    <div  class="mobile-show"><span>Growth Rate</span></div>
                    <h3 data-ng-if="filterObject.prediction=='2'">8% </h3>


                    <div data-ng-if="filterObject.prediction==1"><h3
                            data-ng-if="filterObject.toolId==2 &&quote.DebtFactorValue && quote.DebtFactorValue>=0">
                        {{quote.DebtFactorValue}}%</h3>

                        <h3 data-ng-if="filterObject.toolId==4&&quote.EquityFactorValue&& quote.EquityFactorValue>=0">
                            {{quote.EquityFactorValue}}%</h3></div>
                        </div>

                        <div  data-ng-if="filterObject.prediction==2" class="two-colum cost-mobile">
                          <div class="mobile-show"><span>Total Cost</span></div>
                          <h3 data-ng-if="filterObject.toolId==2">
                    {{quote.totalCost}}%</h3>

                    <h3 data-ng-if="filterObject.toolId==4">{{quote.totalCostEquity}}%</h3>
                        </div>

                </li>
                <li data-ng-if="filterObject.toolId==0">
                <h3>{{quote.IRR}}%</h3>
                </li>
                <li class="quate-colum mobile-hide" data-ng-if="filterObject.prediction==2">      
                    <h3 data-ng-if="filterObject.toolId==2 || filterObject.toolId==0 ">
                    {{quote.totalCost}}%</h3>

                    <h3 data-ng-if="filterObject.toolId==4">{{quote.totalCostEquity}}%</h3>
                    <!--<a href="#" class="link">View Details</a>-->
                </li>


                <li class="quate-colum pl-features" data-ng-show="isAnyFeatureSelected" data-ng-if="filterObject.toolId!=0">
                    <div class="percentage shape-1" data-ng-show="isAnyFeatureSelected">

                        <div class="shape"
                             ng-class="{'perc-0':quote.percentageWeightage<20 ,'perc-20':quote.percentageWeightage>=20&& quote.percentageWeightage<40 ,'perc-40':quote.percentageWeightage>=40&& quote.percentageWeightage<60 ,'perc-60':quote.percentageWeightage>=60&& quote.percentageWeightage<80 ,'perc-80':quote.percentageWeightage>=80&& quote.percentageWeightage<100 ,'perc-100':quote.percentageWeightage==100}">
                            <span>{{quote.percentageWeightage||0}}%</span>
                        </div>
                    </div>


                    <div class="prd-feature">
                        <div ng-repeat="filter in planFilters">
                        <span data-ng-show="filter.checked">{{filter.fullName}}<label
                                ng-class={'yes':quote.AddOnFeatures[filter.name],'no':!quote.AddOnFeatures[filter.name]}></label></span>
                            </span>
                        </div>
                    </div>
                </li>

                <li class="quote-button"><span class="inv-button"><button
                        class="md-raised md-primary lightgreen-button md-button md-default-theme"
                        ng-click="selectPlanredirection(quote)" tabindex="0"
                        ng-disabled="disableObject.redirectDisable"><span class="ng-scope">Invest In This Plan</span>

                    <div class="md-ripple-container" style=""></div>
                </button></span></li>
            </ul>
        </div>
    </div>
</div>
<div data-ng-show="list.length==0" class="layout">
    <div class="quote-not">Quotes are not available for the criteria selected.</div>
</div>
