<div data-ng-class="{'slideInRight' : slideFlag == 'right', 'slideInLeft' : slideFlag == 'left'}" id="quotepos">
	<pbheader/>
	<ng-include src="'templates/filter-section.html'"/>
	<ng-include src="'templates/quote-section.html'"/>
	<div ng-if='hideObject.loadcomparetools'>
		<ng-include src="'templates/compare-tools.html'"/>
	</div>
	<ng-include src="'templates/plan-detail.html'"/>
	<div class="overlay" data-ng-show="hideObject.showFeatureDetails"/>
	<div id="divDropHdfcookieImp" ng-show=false />  
	<div id="divDropHdfcookieClick" ng-show=false />  
</div>
